[2020-07-01 15:16] dunglas commented on #341
Hi, see [the UPGRADE guide](https://mercure.rocks/docs/UPGRADE) and [the updated specification](https://mercure.rocks/spec#authorization).

[2020-07-01 15:16] #341 closed

[2020-07-01 15:30] dunglas commented on #340
Double check your JWT, it probably doesn't contain the required `mercure.publish` key. For subscribing, you probably miss a `topic` query parameter.

[2020-07-02 13:20] martijnhartlief commented on #341
The upgrade guide shows no real alternative for the use-case where the subscribed targets are dynamic.

There is no way to define what "private" means when your application decides who can see what. Now you need to know before hand what topics you want to subscribe to and refresh the token for each change to the underlying data.

Additionally the wildcard selector becomes useless and dangerious if

[2020-07-02 16:34] dennobaby commented on #341
Same here.
This is especially a big problem if you have hundred of thousands of entities which a user should only see if some condition is there. With targets we could easily differentiate but with this version things go bad.

[2020-07-04 09:12] mpereal opened #342 "504 in publish after some hours"
Hi,

I'm using mercure for updating my clients.
I have a new publish each 30s approximatively.
Everything is working perfectly until approximatively after 4 hours working, I can't publish anymore. The only solution I found is to reboot the droplet.
I'm using NGinx as a proxy.

Any idea ?

Many thanks,

Martin

[2020-07-04 17:47] blaspix-tech opened #343 "Add namespacing support on claims"
Hello,

The aim being to allow the use of Mercure with access tokens generated by Auth0.

https://auth0.com/docs/tokens/guides/create-namespaced-custom-claims
_By default, Auth0 always enforces namespacing; any custom claims with non-namespaced identifiers will be silently excluded from tokens._

Here is an example of Auth0 rule :

[code]

Thanks for your feedback guys and cheers
cc @dunglas

[2020-07-04 17:50] dunglas commented on #343
So the claim should be `https://mercure.rocks/` right? It looks good to me.

[2020-07-04 17:52] dunglas commented on #343
I'm not sure if it's required because the spec itself registers a new reserved claim (`mercure`). Namespaced claims are for custom claims, not for claims reserved in specs (it's the same thing for the `rel` that the Mercure spec reserves for the `Link` header).

[2020-07-04 17:53] dunglas commented on #342
Do you have something in the logs? Nginx or the Mercure hub?

[2020-07-04 17:54] dunglas commented on #338
The good link is https://mercure.rocks/docs/ecosystem/awesome#examples.
Can you tell me where you find the original link (from which page?)? Thanks for reporting!

[2020-07-04 18:06] blaspix-tech commented on #343
Auth0 trusts IANA JSON Web Token Claims Registry.
https://www.iana.org/assignments/jwt/jwt.xhtml#claims

Let me try

[2020-07-04 18:10] blaspix-tech commented on #343
I confirm, `https://mercure.rocks/` works and sounds good.

[2020-07-04 18:25] blaspix-tech commented on #343
Related files are:
https://github.com/dunglas/mercure/search?q=claims.mercure&unscoped_q=claims.mercure&type=Code

I am a big quiche in Go language sorry.

[2020-07-04 20:54] mpereal commented on #342
Hi Thanks for your answer.
Please find below what I have in my logs.
If you see something...
Many thanks,

Martin

**Here's what I have in NGINX log :**
[code]
**and in mercure log :**
[code]

[2020-07-04 21:01] mpereal commented on #342
And here are my configs :
[code]

[code]

[2020-07-07 06:36] dunglas commented on #343
Ok thanks for the link, I'll register the claim to this registry.

[2020-07-07 06:41] dunglas commented on #342
I've run load tests locally and I'm not able to reproduce. Could you try to use a debug build that will get more information?
The procedure to create such build is described here: https://github.com/dunglas/mercure/blob/master/CONTRIBUTING.md#finding-deadlocks

I can also provide you a debug build if you prefer (contact me by mail or directly in MP on the Symfony Slack).

Thank you

[2020-07-07 09:08] skurfuerst opened #344 "Spec and Implementation difference: .well-known/mercure/subscriptions vs .well-known/subscriptions"
Hey,

In the spec, the subscription URL at https://mercure.rocks/spec is most often listed as ` .well-known/subscriptions`  (as listed in https://mercure.rocks/spec#active-subscriptions ) - but in the source code and some other examples it is (correctly I believe) `.well-known/mercure/subscriptions`.

Thanks for your great product :) Hope this helps somebody :)

All the best,
Sebastian

[2020-07-07 11:42] #344 closed

[2020-07-07 11:42] dunglas commented on #344
Thanks for the report! The spec was faulty. This has been fixed by #347.

[2020-07-08 10:14] giovannialbero1992 opened #350 "Messages lost in production environment"
Hi @dunglas, thanks for your work!
I wrote here because in production environment (Load Balancer + ECS) when I send message on a topic, i often receive 200 by mercure and message's id but in Mercure's log and by eventsource i don't see anything.
This behaviour is strange because is not always so but it happens often.

In local env with same Mercure version (v0.10.2) I use the same docker image and

[2020-07-08 10:41] dunglas commented on #342
@mpereal I think I've found the problem. Could you try if https://github.com/dunglas/mercure/pull/351 fixes the issue on your side?

[2020-07-08 10:45] dunglas commented on #350
@giovannialbero1992 so you use several Mercure Nodes in production with a load balancer in front of them right? If yes it's normal that messages are lost because the BoltDB transport don't synchronize nodes, it is only intended to work with a single Mercure server: https://mercure.rocks/docs/hub/cluster

The On Premise version is shipped with extra transport allowing to use multiple nodes.

[2020-07-08 11:31] mpereal commented on #342
Many thanks, to be able to test, can you give me a bin ? I don't know go language...

[2020-07-08 12:57] giovannialbero1992 commented on #350
Thanks for reply.
Why this chosen? Have you plan to extend cluster feature on OS version?

[2020-07-08 13:08] dunglas commented on #350
Here is the rationale: https://github.com/dunglas/mercure/issues/10#issuecomment-430897811

It's not planed to add these transports to the OS version, but the project is designed in a way making it possible to write your own transport and for the community to publish community-supported transports.

[2020-07-08 13:08] #350 closed

[2020-07-08 13:58] dunglas commented on #342
Here is a build (it's not a debug one but it includes #351):  https://we.tl/t-UI809AeRaD

[2020-07-09 05:08] dunglas commented on #335
Heartbeat are working (we have tests for this feature). However the default timeout has changed to 60s. You can increase it by changing the `write_timeout` config option (set it to 0s to totally disable this timeout). I plan to increase a bit this timeout in the next release.

[2020-07-09 05:08] #335 closed

[2020-07-09 06:03] mpereal commented on #342
Hi Kevin,

I've make it running all night and the problem is still here. After some hours, updates are returning 504.
I'm sending HTML throw mercure, could it be a problem ?

Thanks,

Martin

[2020-07-09 14:57] mpereal commented on #342
After a day of testing, it seems to be ok.
I will be able to test it in production at the end of next week.
Many thanks again !

[2020-07-14 11:40] #342 closed

[2020-07-16 21:26] psren commented on #338
Oh, sorry, I missed your comment and don't find the reportet link anymore. sorry for the bad report.

Here are two other broken links though:

- https://mercure.rocks/docs/hub/cookbooks
  - "the HA Version" which points to https://mercure.rocks/docs/cluster
  - "a load test" https://mercure.rocks/docs/load-test

[2020-07-19 12:01] AlexBergal commented on #123
You can use this
`$this->publisher->__invoke($update);`

[2020-07-20 08:51] mahsamnz opened #354 "Missed message when I have a heartbeat"
I use Mercure for getting live data and subscription requests repeat each minutes.
I wanted to increase the request duration more than 1 minute so I add "WRITE_TIMEOUT=1800s" in mercure command. is it correct and good solution?

Also when I have an published request exactly when subscriber request expires and new subscriber request send, I missed that message.

my code is like this. @dunglas would

[2020-07-26 11:43] sagikazarmark commented on #242
I agree, exposing the metrics endpoint on a different port is a best practice in the kubernetes world. Then the whole authentication thing becomes unnecessary in the first place.

[2020-07-27 08:08] ilove3q opened #356 "Example api platform - mercure - react"
Hello,
I'm beginer and I want to create a list with real time which can always update with the latest info. I'm using the api-platform distribution. Par example, I have a entity of list book:
[code]
And I use `generate-api-platform-client` to create the interface of list book, when I create a new list book, the another site don't update a new Book, but if i edit or delete a book, the other will ac

[2020-07-27 12:33] dunglas commented on #242
Pull request welcome! But please keep authentication support, it can be helpful outside of the k8s world.

[2020-07-27 13:17] sagikazarmark commented on #242
Can we make that explicit (eg. an enabled/disabled flag)? Implicitly enabling features is generally not a good idea IMHO. The default generated values of the Helm chart is a great example why.

[2020-07-27 13:22] sagikazarmark opened #357 "Move the Helm chart to this repo"
As of Nov 2020 the "official" (central) helm chart repository will be marked obsolete. The best practice now is to host charts next to the project (either in the same repo or in a dedicated chart repo).

It also makes easier to merge contributions/keep changes in a single PR.

The chart repository itself can be hosted in a github repo, using github pages and a custom domain (eg. `charts.mercure.ro

[2020-08-02 05:38] mahsamnz commented on #354
Hi @dunglas, Is there any solution for this problem?

[2020-08-02 05:44] dunglas commented on #354
I don't manage to reproduce. Are you using the Bolt transport? Could you check what is the value of `Last-Event-ID` sent by the browser and the content in the DB (you can use this tool to see the content of the DB: https://github.com/evnix/boltdbweb).

Your configuration looks good.

[2020-08-02 07:03] mahsamnz commented on #354
No I don't use bolt. is it necessary to use bolt to receive old messages?

[2020-08-03 09:49] CRKaraman commented on #337
i thinks in this way - for now i can not run mecrure on linux with file config^(

[2020-08-03 17:02] dunglas commented on #337
Why not. PR welcome!

[2020-08-03 17:07] dunglas commented on #354
Yes it is necessary. If you use the local transport there is no history at all.

[2020-08-03 17:09] dunglas commented on #354
That being said, we could implement an "in memory" history, but I'm not sure it is worth it, using Bolt will consume less memory and has more features. If persisting a file on disk is an issue, using tmpfs or ramfs should do the trick.

[2020-08-03 17:22] divine commented on #100
@dunglas any update on this please?

[2020-08-03 17:23] dunglas commented on #100
It will be available before the end of 2020. Sorry I don't have a more precise ETA yet, but I've started working on this (design part for now).

[2020-08-07 07:47] TamasSzigeti commented on #343
Any clue when IANA will register the mercure claim and auth0 will whitelist it? I'm wondering if we should wait or come up with a workaround until then…

TIA

[2020-08-09 10:11] #354 closed

[2020-08-18 16:28] monstrum commented on #337
I manage to make it work. don't ask me to improve it. I just read golang a hour ago and start using it with help from stackoverflow community. And I am also sure, It is not the right way.

Info:
I got no experience at all in go programming, I just did some trick.
- Check Key Prefix (if it is contains file://)
- Read the key from /public.key
so it is just working if the key file mounted as /public.

[2020-08-23 08:56] damienmillet opened #363 "token contains an invalid number of segments"
Hi,

when I use api plateform with mercure, if I started the server :
JWT_KEY='ChangeMe' ADDR='localhost:3000' ALLOW_ANONYMOUS=1 CORS_ALLOWED_ORIGINS="https://localhost:8000" mercure

And if I generated the MERCURE_JWT_TOKEN with publish pattern I can POST http://localhost:3000/.well-known/mercure with a topic and a data in my form on Insomnia. that's works ! :D

So I get : urn:uuid:6111489f-bb30-

[2020-08-31 08:54] AntoineTesson opened #364 "local error: tls: bad record MAC"
Hi,

I'm on Linux, i have catched this error when i start Mercure

/mercure --jwt-key='MaClefAMoi' --addr='portail-mira.fr:3000'  --cert-file="cert/certificate.crt" --key-file="cert/mira.key"  --allow-anonymous --cors-allowed-origins='*'

INFO[0000] Mercure started    addr="portail-mira.fr:3000" protocol=https
2020/08/31 10:50:01 http: TLS handshake error from 87.89.1.63:62039: local error: tls: b

[2020-08-31 11:27] #364 closed

[2020-08-31 17:49] BafS commented on #341
Same feeling for me, for example with a simple chat system, how do you do if the user join or leave a private channel ? Before you could use the target like `chan/$name` but now do you need to regenerate a new token for each action ?

[2020-08-31 18:22] dunglas commented on #341
No you don't: see the end of [this paragraph](https://mercure.rocks/spec#subscribers) for an example.

[2020-09-01 08:36] BafS commented on #341
Thanks @dunglas

[2020-09-02 08:52] dunglas commented on #363
This should be reported to the API Platform repository. Are you sending a `Authorization` header or a `mercureAuthorization` cookie? If yes, can you check if it is valid using https://jwt.io?

[2020-09-02 10:43] dunglas commented on #79
We should read the `PORT` environment variable if provided. It will fix the issue. PR welcome. This should probably be handled here: https://github.com/dunglas/mercure/blob/master/hub/server.go#L22

[2020-09-02 10:55] dunglas commented on #80
For the record, this is now supported: https://mercure.rocks/spec#active-subscriptions

[2020-09-02 10:55] #80 closed

[2020-09-02 10:57] dunglas commented on #162
Support for GraphQL subscriptions using Mercure in API Platform landed in master: https://api-platform.com/docs/master/core/graphql/#subscriptions

[2020-09-02 10:58] dunglas commented on #106
This issue has been fixed in the latest version. Feel free to reopen if it still occurs.

[2020-09-02 10:58] #106 closed

[2020-09-02 11:42] BelphegorPrime commented on #231
@dunglas can we expect this issue to be resolved in the near future or does it look more like a 2021 or 2022 deadline?

[2020-09-02 11:43] dunglas commented on #231
Does this problem still occurs with the latest version?

[2020-09-05 03:12] damienmillet commented on #363
the problem was : a bearer for an other api was already defined in framework.yml
for fix it I used the scoped_clients system

[2020-09-05 03:12] #363 closed

[2020-09-05 17:12] sagikazarmark opened #366 "Replace Viper with a config struct"
Generally speaking, Viper is not supposed to be used outside of the main function. It's job is to collect configuration and then pass it onto a config struct/structs, something like this:

[code]

It separates your code nicely from the CLI/Viper stuff and makes testing easier. I can provide a PR if you like the idea.

[2020-09-07 08:32] AymLaf opened #367 "Subscribe to ApiPlatform subresource"
Hello everyone,

I'm a begginer with Mercure and I have a question about the way to use Mercure with ApiPlatform (+ Symfony). I hope it will not be too dumb :/
Let's assume two entities : **_EntityA_** and **_EntityB_**.
Both are Symfony/Doctrine entities with "mercure=true" in @ApiResource annotation.
**_EntityB_** is a @ApiSubresource() of **_EntityA_**.

With Mercure + ApiPlatform i'm able to s

[2020-09-08 19:26] dunglas commented on #357
Hi @sagikazarmark, thanks for the detailed report. A PR will be very appreciated!

[2020-09-08 19:51] dunglas commented on #366
Actually, it's how it worked before https://github.com/dunglas/mercure/pull/203.

I'm curious of why Viper shouldn't be used outside of the main function? Using it as a config registry looks legit, and allows to leverage easily nice features such as live reloading. Viper is described like this on its homepage ("a registry for all your application configuration needs").
Hugo and doctl use Viper lik

[2020-09-08 22:00] sagikazarmark commented on #366
There are several issues with Viper as it is. You can read more about them here: https://github.com/spf13/viper/projects/1

But basically the main problem is Viper leaking a bunch of runtime responsibilities into your code, making it harder to test. Whereas with a single struct the configuration is more readable, and the whole config loading and processing thing is limited to your `main` function,

[2020-09-08 22:03] sagikazarmark commented on #357
Sure. What are your options for running a Helm chart repository? It turned out the github repository as a helm repository thing is pretty dumb, I'm working on a github plugin now. Alternatively, you could setup a GCS or S3 bucket, or a ChartMuseum instance, but that last one is probably an overkill.

[2020-09-09 05:56] dunglas commented on #357
I'll probably go for Chart Museum as I have a K8s cluster available for Mercure. I'll take a look.

[2020-09-09 09:48] #212 closed

[2020-09-09 09:48] #214 closed

[2020-09-09 09:49] #222 closed

[2020-09-09 09:49] #221 closed

[2020-09-09 09:49] #225 closed

[2020-09-09 09:49] #223 closed

[2020-09-09 09:49] #213 closed

[2020-09-09 09:49] #230 closed

[2020-09-09 09:49] #237 closed

[2020-09-09 09:49] #180 closed

[2020-09-09 09:49] #243 closed

[2020-09-09 09:49] #241 closed

[2020-09-09 09:49] #250 closed

[2020-09-09 09:49] #253 closed

[2020-09-09 09:49] #254 closed

[2020-09-09 09:49] #264 closed

[2020-09-09 09:49] #292 closed

[2020-09-09 09:49] #294 closed

[2020-09-09 09:49] #296 closed

[2020-09-09 09:49] #157 closed

[2020-09-09 09:49] #299 closed

[2020-09-09 09:49] #300 closed

[2020-09-09 09:49] #316 closed

[2020-09-09 09:49] #315 closed

[2020-09-09 09:49] #325 closed

[2020-09-09 09:49] #336 closed

[2020-09-09 09:49] #224 closed

[2020-09-09 09:49] #340 closed

[2020-09-09 10:48] #113 closed

[2020-09-09 10:48] #115 closed

[2020-09-09 10:48] #144 closed

[2020-09-09 10:49] #122 closed

[2020-09-09 10:49] #163 closed

[2020-09-09 10:49] #152 closed

[2020-09-09 10:49] #188 closed

[2020-09-09 10:49] #124 closed

[2020-09-09 10:49] #205 closed

[2020-09-10 08:34] helllicht commented on #283
@minsano and @kliko

If you use Docker, create a Dockerfile:

[code]

[2020-09-11 14:41] reeslo opened #371 "Peer certificate cannot be authenticated with given CA certificates for..."
Hi,

I am trying to configure the latest version of Mercure in production mode.

I am running this version mercure_0.10.3_Linux_x86_64

Running command
[code]

Nginx reverse proxy configuration
[code]

When I try to publish from (https) `https://my-domain.com/.well-known/mercure`, I got the error this error
[code]

When I try to publish from (http) `http://my-domain.com/.well-known/mercure`, there

[2020-09-13 01:43] tf-kevin opened #372 "Subscribers receive private updates that are not in scope of their JWT"
When pushing a private update to the hub subscribers that don't have access to the topic as per their JWT token receive the messages.

Example:
The publisher pushes a private update to _event://123456/moderation_ and the subscriber listens on events for the same topic.
As per my understanding of the protocol the subscriber should not be able to get this message because the JWT does not allow it an

[2020-09-14 07:47] reeslo commented on #371
I've resolved my problem by using Guzzle Http Client to publish with ['verify' => false]

[2020-09-14 07:47] #371 closed

[2020-09-14 15:02] tonyellow opened #373 "net::ERR_HTTP2_PROTOCOL_ERROR 200 error with api platform and mercure"
I use mercure in combination with api platform. In front i have a Google Cloud load balancer. Every 30 seconds I see the following error popping up in console of frontend:

GET https://...../.well-known/mercure?topic=poep net::ERR_HTTP2_PROTOCOL_ERROR 200

I already tried setting the environg variable HEARTBEAT_INTERVAL='15s' but it does not fix the problem.

Does anyone know what is causing this

[2020-09-14 17:36] dunglas commented on #373
Do you use the shell chart? It contains a special resource for that: https://github.com/helm/charts/blob/master/stable/mercure/templates/backend-config.yaml

Otherwise, you'll have to set the timeout of the GCP's load balancer by yourself.

[2020-09-14 18:14] tonyellow commented on #373
Thanks for pointing me in the good direction and for creating this fantasic software. Increasing the timeout on the load balancer fixed it. Cheers!

[2020-09-15 06:59] dunglas commented on #338
Thanks @HellPat, we're on it.

[2020-09-15 14:31] yannissgarra commented on #337
Same issue for me... @CedCannes : how do you copy it by hand in docker-composes file (I suppose in JWT_KEY env var) ? I'm struggling to do it, nothing works for me :(

[2020-09-16 11:58] monstrum commented on #337
@yannissgarra

I tried it once, check this ticket. This is might what you looking for.
https://github.com/dunglas/mercure/issues/313

if you want to use file instead, i fork from dunglas/mercure and add file support in it. It might be not up to date.

[2020-09-16 12:51] yannissgarra commented on #337
@monstrum
Well yes ! I've just succeeded thanks to your help !

Here is my docker-compose config :

`mercure:
    image: dunglas/mercure
    environment:
      JWT_KEY: |-
        -----BEGIN PUBLIC KEY-----
        ...
        -----END PUBLIC KEY-----
      JWT_ALGORITHM: RS512
      DEMO: 1
      CORS_ALLOWED_ORIGINS: '*'
      PUBLISH_ALLOWED_ORIGINS: '*'`

But I don't succeed to use public key

[2020-09-16 20:05] #373 closed

[2020-09-16 20:12] dunglas commented on #372
I tried to reproduce on https://demo.mercure.rocks using the topic the JWT you provided and it works as expected. Can you check if you are able to reproduce using the demo, and if yes provide (if possible privately) the exact settings you use?

[2020-09-17 09:51] dunglas commented on #367
Hi, could you reopen this issue on the API Platform bug tracker? The API Platform integration isn't related with the hub or the protocol itself.

[2020-09-17 09:51] #367 closed

[2020-09-17 10:27] monstrum commented on #337
@yannissgarra Great, glad it helps!

Well, like i said. Standard Docker image from Dunglas/mercure doesn't support JWT File as JWT Key. Therefore I fork it, and did some trick. and I build myown image, for using Public key as file. I recommended using dunglas/mercure, however if you still want to use file as jwt key. this is the setting i used. The key must be "file:///public.key" and it must moun

[2020-09-18 09:50] dunglas commented on #338
Fixed!

[2020-09-18 09:50] #338 closed

[2020-09-24 08:56] mkrakiewicz opened #377 "Are the JS examples / demo valid? How to handle SSE errors/reconnects?"
Hi,
I'm trying to subscribe with auth to Mercure. The native EventSource works OK without authentication.

TLDR: the js lib https://github.com/Yaffle/EventSource used in the examples for custom Header auth throws me errors constantly in the development version.

AFAIK to authenticate I need to either:
a) use cookies (but this requires to have Mercure and WWW to have on the same domain, which is ve

[2020-09-24 13:29] #123 closed

[2020-09-25 07:41] soyuka commented on #377
It looks like you have issues with the polyfil version indeed. I'd suggest that you open an issue there to help handling errors.

I have used this with Cookies for authorization as they work well and are secure, indeed you have to specify cookie policies for it to work (see https://mercure.rocks/spec#authorization). Note also that with HttpOnly cookies this authorization is pretty transparent for

[2020-09-25 14:19] sagikazarmark commented on #242
Bump, there is a PR.

[2020-09-26 16:10] sagikazarmark commented on #366
I was exploring the code and had another idea: by the looks of it, the primary business logic for the code is not actually tied to the HTTP layer. I mean, there are obviously HTTP specific things in there (like sending specific headers), but most of the logic is not HTTP specific.

I was wondering if it would make sense to separate some parts of the code (eg. accept a `WriteFlusher` interface, ins

[2020-09-28 10:03] monstrum opened #378 "Big data size transferred during handshake (on Lan with Self signed certificate)"
I am not sure if this is a bug or a setup problem. I tried mercure rocks in lan setup with self signed ssl certificate. During handshake, the data is keep being transfered until it reachs heartbeat interval.

as Info, mercure rocks runs behind rproxy.
HTTPS (SSL) -> rproxy (Upstream to 80) -> Mercure rocks port 80 (Using docker image)

and in the production, with the same setup. The only different

[2020-09-29 14:26] soyuka commented on #356
our demo is built with react api platform and mercure feel free to check it there: https://github.com/api-platform/demo

[2020-09-29 14:27] #356 closed

[2020-10-06 08:33] TamasSzigeti commented on #343
We still need this, any updates, @dunglas ? Either alternative url-formatted claim or whitelisted by auth0 (based on iana) would work…
TIA

[2020-10-06 11:15] dunglas commented on #343
I don't know how much time it will take for the registration. I suggest to add support for a namespaces alias in the meantime.

[2020-10-06 11:42] TamasSzigeti commented on #343
I agree! I'm not too proficient in go but will try myself and submit a PR if it's fine with you

[2020-10-06 20:14] NateEag opened #381 "Document what config params are automatically reloaded"
The docs say that ["most" configuration parameters are hot reloaded](https://github.com/dunglas/mercure/blob/f8f3dc0a255b503043fa654070dffad666a7ebca/docs/hub/config.md).

The first two config params I tried hot reloading on my local Vagrant VM were not updated until I restarted the process, though. Those were `TRANSPORT_URL` and `JWT_KEY`.

It makes sense to me that `TRANSPORT_URL` is not hot rel

[2020-10-06 20:21] NateEag commented on #381
I just tried adding the `USE_FORWARDED_HEADERS` param to my `/etc/mercure/mercure.env` file, and it also had no effect until I restarted the process.

Maybe that one's special too, but hitting three that aren't hot-reloadable in a row feels a bit unlikely.

Is something broken here?

[2020-10-06 20:31] NateEag commented on #381
A quick poke through the code shows that Mercure uses [Viper](https://github.com/spf13/viper) to load configuration.

Viper's docs say you need to [opt-in to watching config files](https://github.com/spf13/viper/tree/v1.7.0#watching-and-re-reading-config-files) with `viper.WatchConfig()` .

A search in this repo for `WatchConfig` [produces no hits](https://github.com/dunglas/mercure/search?q=Watch

[2020-10-08 22:01] #343 closed

[2020-10-13 08:55] JocelynRAZAFY opened #382 "Symfony 5 error: SSL peer certificate or SSH remote key was not OK for "https://domain.com:1337/.well-known/mercure"
Hello,

I purchased an ssl certificate from Sectigo Limited.

When I run $update = new Update(
            $topic,
            json_encode($data),
            $targets);
        $publisher($update);
      // $this->bus->dispatch($update);

I got this error:

Symfony\Component\Messenger\Exception\HandlerFailedException: "SSL peer certificate or SSH remote key was not OK for "https://domain.com:1337

[2020-10-20 19:32] latrach commented on #382
Hello,
you use https with 1337,  use a proxy that redirects the https to 1337?

[2020-10-21 08:45] aurelijusrozenas opened #384 "Log only level=error or higher"
Hi,

I cannot find any option to configure logging to log only `error` level and up. I see `level=info` in logs so I assume there are at least error level? I only want to log information when something is going wrong so I know that some action must be taken.
1. Is it possible to configure logging level?
2. Is there documentation what is being logged?
I am using docker image but I do not think it's

[2020-10-22 02:17] eroluysal opened #385 "custom subscriber ID"
Hi,

Can I define custom subscriberId for subscriber when subscribe?

[2020-10-22 02:34] #385 closed

[2020-11-02 16:58] damijank opened #387 "Authentication with multiple JWT tokens from the same browser session"
I have a question about serving multi-tenant / multi-client apps.

We have a setup like this one:
* a single multi-tenant API Platform backend (on `paas.org`)
* a single Mercure hub, which is on the same domain as PaaS
* a multi-client-enabled CMS (on `tenant.org` domain)
  * the CMS is allowed to administrate all the clients for their tenant
* multiple clients (websites) are on their own domains,

[2020-11-04 13:29] aphex008 opened #388 "Memory leaking"
Hello!

I am observing strange mercure behaviour. It has around 1000 or less subscribers but it seems that memory consumption increases gradually until it eats up all available memory. Then processor usage sky-rocket and situation does not improve until restarted.

![Zabix screenshot](https://i.imgur.com/ObdH66R.png)

I started from 1 core and 2 gigs of ram. Then upped to 2 cores and 4 gigs. Now i

[2020-11-05 20:36] dunglas commented on #388
Hi, and thanks for reporting. To debug this, you'll have to use a debug build with the Go profiler enabled. I can provide you one if you don't know how to do. Feel free to contact me on Symfony's Slack.

[2020-11-08 11:13] sagikazarmark commented on #357
Still valid

[2020-11-08 12:38] #231 closed

[2020-11-08 12:38] #79 closed

[2020-11-08 12:38] #162 closed

[2020-11-09 07:53] aphex008 commented on #388
Hello, Kevin, thank you for reaching out to me.
Mercure is not currently critical to my setup so I can deploy debug build to production and reproduce memory leak situation.
I would be very thankful if you provided debug build with go profiler and short instruction on where to find debug information that is relevant to the situation.I'm total newb in go so your guidance is much appreciated.
It's no

[2020-11-09 08:01] aphex008 commented on #388
I had an assumption that logging would help not to eat up memory so fast but same happens event with logging.driver: none. We have around 500 topics and around 600-1000 subscribers. There are around 1-2 updates per second.

[2020-11-09 08:58] dunglas commented on #388
I'm in the process of changing the logger to Uber Zap (we have known memory issues with Logrus, which is deprecated anyway). I'll open a PR soon.

[2020-11-11 10:27] JocelynRAZAFY commented on #382
Hello @latrach

thank you for your answer
I followed your proposal but It's always the same message.

Here is my VirtualHost please:

`<IfModule mod_ssl.c>
<VirtualHost *:443>

    ServerAdmin admin@example.com
    ServerName domain.com
    ServerAlias domain.com
    DocumentRoot /var/www/domain/public
    DirectoryIndex index.php
    <Directory /var/www/domain/public>
        AllowOverride None

[2020-11-12 01:18] jzecca opened #391 "Intent to Remove HTTP/2 server push in Chromium"
Not a "real" issue per se, but I just stumbled upon this while browsing Twitter (via [@intenttoship](https://twitter.com/intenttoship/status/1326652757739180033)):
https://groups.google.com/a/chromium.org/g/blink-dev/c/K3rYLvmQUBY/m/vOWBKZGoAQAJ

I don't know anything about the decision making process of the Blink project, but I guess this could have major consequences on Mercure and Vulcain.

The

[2020-11-12 12:16] jzecca commented on #391
Closing since it looks like I'm kinda late to the party 😉
https://twitter.com/dunglas/status/1326552735404060672

[2020-11-12 12:16] #391 closed

[2020-11-12 17:07] dunglas commented on #391
For the record, it changes nothing for Mercure. But it does impact Vulcain: https://groups.google.com/a/chromium.org/g/blink-dev/c/K3rYLvmQUBY/m/4iaeRolCAQAJ

[2020-11-12 17:56] jzecca commented on #391
Thanks for the clarification and the very interesting post 👍

[2020-11-13 01:55] FalaiTio opened #392 "invalid transport DSN"
Hi!!!
I'm trying to run mercure (0.10.4) in symfony (5.1) mercure bundle (0.4.0)
All in vagrant (scotch box - Ubuntu 16.04 - Apache 2.4.18 - PHP 7.4.12)

when running:
 `JWT_KEY='aVerySecretKey' ADDR='localhost:3000' ALLOW_ANONYMOUS=1 ./bin/mercure`

I get the error:

Can someone help me?

[2020-11-16 15:24] damijank commented on #387
For now, I've made a workaround via a reverse-proxy configuration in my nginx
[code]

[2020-11-17 11:59] aurelijusrozenas commented on #388
Hi @dunglas,

do you have any timeframe when the next release will be done? We are _realy_ waiting for this... :)

[2020-11-17 12:19] dunglas commented on #388
Could you try the master version to check if it fixes the issue?

[2020-11-19 12:52] sagikazarmark opened #394 "High severity issue in github.com/dgrijalva/jwt-go"
There is an unpatched, high severity issue in the aforementioned JWT package: dgrijalva/jwt-go#428

Unfortunately, it looks like the author completely abandoned the package.

There is a maintained fork that fixes the issue, but a lot of users seem to prefer gopkg.in/square/go-jose.v2 now.

[2020-11-20 04:27] vgomez-dataworks opened #395 "Connection closed in server but not in client"
Hello, i am facing problems in the connection between a dart (flutter) client and mercure.

I tryed with many libraries, even with raw connection but I always have the same problem.

When I stablish a connection with server sent events or response as stream in dart I am able to listen the messages in the topic choosen but if the client does not recibe a message after some time, the server logs a d

[2020-11-20 08:30] dunglas commented on #395
It's weird, the TCP connection should timeout at some point.

[2020-11-20 10:58] campsjos commented on #392
Same here, please share if you find a solution.

[2020-11-20 16:33] vgomez-dataworks commented on #395
I added a timmer to ask every 30 seconds if the connection is still open, and I found that the connection is still open after 1 hour even with 30 seconds timeout in the library (in this case I am using Restio with SSE client)

[2020-11-20 18:44] dunglas commented on #395
Could you provide a reproducer? I don't know Flutter at all but I can take a look.

[2020-11-20 20:36] FalaiTio commented on #392
I still coldn't solve it, I followed all the documentation steps: https://symfony.com/doc/current/mercure.html#installation

But the error persist, I'm looking for a solution, when I find a post here

[2020-11-21 16:41] campsjos commented on #392
In my case it wasn't related to Vagrant since the problem happened in a CentOS server and it was caused by the fact that i ran the command from a directory without write permission.
Also, I remember having the same issue in my local Vagrant environment, I'm almost sure that i solved it changing the synched_folder type to 'nfs' in my Vagrantfile.
This is how it have it now: `config.vm.synced_folder

[2020-11-22 15:33] GrandOurs35 opened #396 "How to use alternate topic with Api Platform?"
Hi,
first of all, thanks a lot for your amazing work.

I have, surely a stupid question, but i don't see how to solve my problem. Following the Mercure docs which show how to use alternate topics for private updates:

i don't see how to apply it into an Api Platform environment. I see that in the Api Platform docs, we can use the "topic" option:

So in my Doctrine entity, i can set-up this topics

[2020-11-22 21:09] #372 closed

[2020-11-23 12:04] #337 closed

[2020-11-23 23:23] dunglas commented on #392
I changed the error message to a more explicit one (I hope) in #393.

[2020-11-24 03:58] vgomez-dataworks commented on #395
Sorry for the late update.

I found that when I stop the Mercure server, the dart side marks the connection as open, so the problem is not in the Mercure side.

I made a workaround for this, I added a timer every 30 seconds in which the connection is forced to close and reconnect sending the last update id and I got a reasonable result for my use case.

Anyway I oppened a issue in the git of the c

[2020-11-24 07:16] dunglas commented on #395
Thanks for the update! Closing for now.

[2020-11-24 07:16] #395 closed

[2020-11-24 09:28] soyuka commented on #396
Hi,

Please take a look at https://github.com/symfony/mercure, topics in API Platform are the resources IRIs and updates are published with a doctrine event listener: https://github.com/api-platform/core/blob/master/src/Bridge/Doctrine/EventListener/PublishMercureUpdatesListener.php.
If you want more control you should implement this file yourself.

[2020-11-24 09:29] #377 closed

[2020-11-24 09:30] #396 closed

[2020-11-25 09:09] #392 closed

[2020-11-25 09:18] dunglas commented on #394
AFAIU, we aren't affected by the security issue because we don't rely on audiences.

[2020-11-25 17:40] dunglas opened #401 "Allow to customize the path to the static files"
Needed for dunglas/symfony-docker#89.

Add a new option containing the path to the static files (the UI).

[2020-11-26 10:10] ip512 commented on #388
Hi,
we have the same issue with our running instance of mercure on GCP kubernetes. We made a load test with a small node script to try to reproduce this memory over-consumption. Even with more subscribers and more notifications published (compared to prod), we can't reproduce this memory consumption.
If the issue was coming from logs, it should be reproductible with a test script, right ?

[2020-11-27 13:45] norkunas opened #404 "json: cannot unmarshal string into Go struct field claims.iat of type int64"
When building jwt with new `lcobucci/jwt` lib version I get this error.
Looking at it's source if datetime supports miliseconds then it appends it.
This lib expects datetime instances:
[code]

When trying to use `withClaim` manually with "iat" or "exp" it throws error: "Builder#withClaim() is meant to be used for non-registered claims, check the documentation on how to set claim "iat".

So my ques

[2020-11-28 09:52] dunglas commented on #404
This should probably be reported to the underlying JWT library we use in Mercure? WDYT? http://github.com/form3tech-oss/jwt-go

[2020-11-29 11:19] chalasr commented on #404
As per https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-2, the jwt-go library should indeed support strings for date/time fields:

2013 Edition [POSIX.1] definition "Seconds Since the Epoch", in
which each day is accounted for by exactly 86400 seconds, other
than that **non-integer values can be represented**. See RFC 3339
[RFC3339] for details regarding date/times in general

[2020-11-30 02:51] rowanparker opened #405 "Docker environment variables not used in latest version"
Last week I created a `docker-compose` file, which worked fine.

[code]

[code]

I used the same file on a different computer today and it doesn't work.

[code]

[code]

[code]

If I then specify `dunglas/mercure:v0.10` it works again. I assume this change is due to the update to the `latest` tag (4 days ago, as of time of posting). Is this expected behaviour or a bug?

[2020-11-30 04:15] norkunas commented on #404
Thanks @chalasr :)

[2020-11-30 07:31] dunglas commented on #405
Hi, It's because you are using the latest alpha version. See https://mercure.rocks/docs/UPGRADE

You can either switch to the "legacy" tag or upgrade to the new configuration format.

[2020-11-30 07:49] tsdevelopment opened #406 "Wrong link in documentation"
The link to the config migration ends in a 404 error:

Page: https://mercure.rocks/docs/UPGRAD
Target url of link: https://mercure.rocks/docs/config

`Before switching to the Caddy build, be sure to migrate your configuration.`

[2020-11-30 09:15] rowanparker commented on #405
Ah, my apologies. Thank you.

[2020-11-30 09:15] #405 closed

[2020-11-30 21:53] #406 closed

[2020-11-30 21:53] dunglas commented on #406
Thanks for reporting! This is fixed now.

[2020-12-01 07:47] aurelijusrozenas opened #407 "Docker tags for 0.11 beta"
Hey.
I wanted to ask couple of questions about mercure docker tags.
1. I see `legacy-v0.11` . Why is it legacy? It seems normal beta release in github.
2. I do not know how much automation is going on for docker tags but it seems to me that beta release should not be released as `v0`, `v0.11`, `latest` tags because I would assume it is save to upgrade when in reality it would be a beta release.

[2020-12-01 09:46] JSmythSSG commented on #388
Just noticed same thing on our server using Mercure in docker, it eventually uses up all the RAM then the server becomes unstable and we have to restart the container to get it back down to low memory usage.

[2020-12-01 16:35] #242 closed

[2020-12-01 20:12] dunglas commented on #388
Hi! Could you try with the latest alpha version using Caddy? It should fix the issue but confirmation would be very welcome.

Also, this new version has a built-in profiler. If the problem persists this will help a lot.

[2020-12-01 22:20] dunglas commented on #407
Hi!

1. For the 0.11 version there are two flavors of the hub: the one using Caddy server, and the one using the old home made web server.  `legacy-v0.11` corresponds to the legacy server, `v0.11` to the Caddy based version. See for more information https://dunglas.fr/2020/11/the-mercure-rocks-hub-is-now-based-on-caddy-web-server/
2. You're right we need to tweak the GoReleaser config to not tag p

[2020-12-01 22:21] dunglas commented on #401
Done in #402.

[2020-12-01 22:21] #401 closed

[2020-12-01 22:26] dunglas commented on #384
This is now possible in 0.11 alpha using the Caddy-based version: https://caddyserver.com/docs/caddyfile/directives/log

[2020-12-01 22:26] #384 closed

[2020-12-01 22:29] dunglas commented on #381
Hi,

The Viper-based version is now deprecated and we recommend upgrading to the Caddy-based version. This version works differently, you must type `mercure reload`, use the REST API or send `SIGUSR1` to the process to reload the configuration: https://caddyserver.com/docs/command-line#caddy-reload

This should fix the issue.

[2020-12-01 22:29] #381 closed

[2020-12-02 05:15] aurelijusrozenas commented on #407
1. You should include this link in release description in this repo, it's all I wanted to know about release and more! :) I never knew I could find this info on your web.

[2020-12-02 12:41] bastien70 opened #409 "How to use Mercure with RabbitMq ?"
Hello, I am looking to use Mercury with RabbitMQ. This is the first time that I have used Mercury as well as RabbitMQ so I am not yet good.

Here is where I am:

I've installed Mercure, and Messenger.

**Messenger.yaml:**

[code]

**.env**

[code]

In my controller, I've :

[code]

I launched Mercury. And the action I took seems to work fine with the basic settings, without Messenger. Then I added

[2020-12-02 13:10] dunglas commented on #409
I'm not sure to follow. Mercure is not related at all to RabbitMQ, and doesn't use it.

[2020-12-02 13:11] dunglas commented on #409
It doesn't look related to Mercure but to Symfony. Could you please ask for support on Symfony channels please?

[2020-12-02 13:11] #409 closed

[2020-12-02 13:13] dunglas commented on #407
Done!

[2020-12-02 17:17] #366 closed

[2020-12-04 14:54] #378 closed

[2020-12-04 19:45] Gulivertx opened #410 "Connect over VPN"
Hi, I'm facing to an issue where I deployed a Symfony app using a mercure server.
Everything is setting up inside docker containers.

Containers list
- nginx
- mysql
- php
- mercure

Using the app inside the LAN works great.
Using the app over L2TP/ISPEC does not work.
Only mercure is unavailable.

There is something really strange, trying to reach URL http://ip:3000 cannot open mercure over the v

[2020-12-04 20:18] NateEag commented on #381
Okay, cool. Thanks for the update, @dunglas .

It looks like this change is only available in the `v0.11.0-beta.1` version. Are you recommending using that beta version in production?

[2020-12-05 05:59] divine commented on #387
@dunglas 👋,

Given a lot of issues with **event-source-polyfill**, is there any possibility that this feature* might come with v0.11?

\* Defining JWT key in URL parameters. It's still secure and tampered data can be easily detected. The only limitation is increased URL size.

Thanks!

[2020-12-05 16:00] Gulivertx commented on #410
Oups sorry my bad, I did not notice that mercure switch to Caddy and new configuration in order to replace environment variable. Sorry

[2020-12-05 16:00] #410 closed

[2020-12-06 09:43] dunglas commented on #381
Not yet! But I'll tag a stable soon.

[2020-12-06 16:39] NateEag commented on #381
Okay, thanks for the info!

[2020-12-07 07:48] AntoineTesson opened #411 "SSL EOF when its POST"
Hello !
[code]
Mercure on port 3000 is running
He listen and speak about new suscriber when i load the page.
But if i try to use a POST , i have an EOF error

I have no idea what is wrong ...

[2020-12-08 11:18] CreaDEV opened #412 "Problems with CORS and private flag"
Hello!

I have a web app with symfony provided by an normal apache2 server. Now I want to add SSE support (with docker).

First Problem: The new caddy auto cert wants to be on port 443...but there is my symfony app/apache2...
Possible solution: proxying the /.well-known/* to the port x of mercure instance (-p x:443)
Don't get this working: Workaround: I give my certificates from the symfony instan

[2020-12-08 13:39] CreaDEV commented on #412
I solved this issue with an proxy pass:
=============================

enable modules with apache2 (a2enmod):
* proxy
* proxy_html

In VHost:
=======

<Proxy *>
    Order deny,allow
    Allow from all
</Proxy>

SSLEngine on
SSLProxyEngine On
SSLCertificateFile /etc/letsencrypt/live/<your site>/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/<your site>/privkey.pem

ProxyRequests Off
Prox

[2020-12-08 13:59] primus852 opened #413 "401 Unauthorized, Authorization Token / Secret are correct"
I have a docker-compose which fires up a mercure container
### docker-compose
[code]

But when I POST to `POST http://mercure/.well-known/mercure` I get this from my mercure container:
(prettified)

[code]

The JWT Payload is this:
[code]

`sudo docker-compose exec mercure env` shows `JWT_KEY=so_secret`, so what else can I check?

// EDIT
I changed the Token to
[code]
which is signed by `!ChangeMe

[2020-12-08 18:43] alexislefebvre opened #414 "401 unable to parse JWT: key is of invalid type"
I'm trying to [authenticate](https://mercure.rocks/spec#authorization) with an header.

What I tried:

1. use https://github.com/Yaffle/EventSource/blob/master/src/eventsource.min.js to provide `EventSourcePolyfill` (it was suggested [here](https://github.com/whatwg/html/issues/2177#issuecomment-479016493))
2. and use it:

[code]

The mercure hub returns a 401 status code.

Here is the correspondi

[2020-12-08 20:40] dunglas commented on #414
Could you copy logs emitted by the Mercure hub please? It should detail why authorization failed.

[2020-12-08 21:40] alexislefebvre commented on #414
The [example key](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdLCJzdWJzY3JpYmUiOlsiaHR0cHM6Ly9leGFtcGxlLmNvbS9teS1wcml2YXRlLXRvcGljIiwie3NjaGVtZX06Ly97K2hvc3R9L2RlbW8vYm9va3Mve2lkfS5qc29ubGQiLCIvLndlbGwta25vd24vbWVyY3VyZS9zdWJzY3JpcHRpb25zey90b3BpY317L3N1YnNjcmliZXJ9Il0sInBheWxvYWQiOnsidXNlciI6Imh0dHBzOi8vZXhhbXBsZS5jb20vdXNlcnMvZHVuZ2xhcyIsInJlbW90ZUF

[2020-12-09 13:36] pheromix opened #416 "No data of the EventSource is displayed"
I started the Mercure hub with this command on Windows10 :

`mercure --jwt-key="!ChangeMe!" --addr="localhost:3000" --allow-anonymous --cors-allowed-origins="*"`

The hub runs successfully

I want to publish updates from Symfony :

In the **.env** file there is :

    ###> symfony/mercure-bundle ###
    # See https://symfony.com/doc/current/mercure.html#configuration
    MERCURE_PUBLISH_URL=http:/

[2020-12-09 21:23] TamasSzigeti opened #419 "Can't get RS256 to work"
Hi, I wanted to try out the new release with the namespace fallback addition and can't get RS256 to work.
My suspicion was that I'm not passing in the multiline key properly, but I've tried multiple ways…

My key and token is valid according to jwt.io. I also checked out the jwt-go repo and used my key and token in the tests and they pass OK.

I've read all the docs and can't get it right – This i

[2020-12-10 13:07] pheromix commented on #416
ok, I found the cause of the error : the secret has to be entered in the jwt.io to generate the token

[2020-12-10 13:12] #416 closed

[2020-12-10 19:00] #407 closed

[2020-12-10 19:06] aurelijusrozenas commented on #388
Will report later but so far 0.11 version seems to be doing just great! You can see from CPU graph when the version was deployed :)
![2020-12-10_17-19](https://user-images.githubusercontent.com/3273544/101817482-1b256480-3b2b-11eb-85cd-360a997109d5.png)

[2020-12-10 19:26] aurelijusrozenas commented on #384
Still having problems even with 0.11 version. I want to change default logging level to 'warn' it does not work and logger is still spamming with all debug and info level logs.

This is my Caddyfile.
[code]

And I see that it is parsed to:
[code]

I found [this thread](https://caddy.community/t/how-to-set-the-default-log-level/9298/3]) that explains that you cannot change global logger and you sho

[2020-12-11 09:47] aphex008 commented on #388
Looks promising so far! Nice job @dunglas 👍
Memory is slowly increasing since yesterday when @aurelijusrozenas posted but at much slower rate. We had to reboot previous version every hour. 0.11 has held thru the night. We'll post followup.

[2020-12-12 01:24] #411 closed

[2020-12-12 12:42] hafkenscheid opened #420 "legacy-latest is not compatable with the old configuration format"
I tried switching from `latest` to `legacy-latest` (`dunglas/mercure:legacy-latest`).
The docker images crashes with the following errors:

[code]

[2020-12-16 14:17] aurelijusrozenas commented on #388
So it is much better than it was but it is not enough. Previously it would crash every hour or so now it's ~24 hours. Maybe we just need to give it more RAM but how we do we figure what is reasonable?

![2020-12-16_16-14](https://user-images.githubusercontent.com/3273544/102359747-daf63400-3fb9-11eb-9c98-9f4efcb3a63f.png)

[2020-12-16 14:21] aurelijusrozenas opened #421 "Log only level=error or higher with docker"
Continuing from https://github.com/dunglas/mercure/issues/384: I want to log only error or warn error level.
Still having problems even with 0.11 version.

I found [this thread](https://caddy.community/t/how-to-set-the-default-log-level/9298/3) that explains that you cannot change global logger and you should defined logging options to every domain server config. But even doing that it does not ch

[2020-12-16 21:19] dunglas commented on #421
I'm not sure if it's possible to set the log level of the logger injected in the module. @francislavoie or @mholt maybe do you know if it's a supported use case?

[2020-12-16 21:44] francislavoie commented on #421
There's currently no way to configure the stdout/stderr logs from Caddyfile. What you're configuring there with the `log` directive is the access logs specifically.

Logging is a pretty complex topic, and configuring them is non-trivial. I plan to work on that at some point to make the default logger configurable in the Caddyfile.

What you can do in the meantime is `caddy adapt` your config to JS

[2020-12-16 21:45] mholt commented on #421
Sure, of course you can change the log levels.

That is not what I get with that Caddyfile (I had to comment out `mercure` since I do not have that plugin handy):

[code]

[2020-12-16 21:49] dunglas commented on #388
I added a documentation entry explaining how to profile the hub: https://github.com/dunglas/mercure/pull/422
Having a heap and allocs profiles would help a lot. If you aren't able to do it by yourself, could you enable the debug mode and send me privately the URL of your hub?

[2020-12-17 08:10] dunglas commented on #420
Fixed by #423.

[2020-12-17 08:10] #420 closed

[2020-12-17 13:28] dunglas commented on #419
I improved supports for public/private keys and added some docs for this: #425
I hope this help.

[2020-12-17 13:29] #419 closed

[2020-12-17 13:32] dunglas commented on #414
I improved support for RSA keys, and added some docs: #425.
This should fix your issue, if it's not the case feel free to re-open!

[2020-12-17 13:32] #414 closed

[2020-12-17 13:34] dunglas commented on #413
It's because you are using the 0.11 version (alpha). Either add `:v0.10` to `image`, switch to the legacy build `:v0.11-legacy` or upgrade your configuration as described in https://mercure.rocks/docs/UPGRADE

[2020-12-17 13:34] #413 closed

[2020-12-17 13:37] dunglas commented on #412
Using a reverse proxy is indeed a good solution! The other solution is to host the hub on a subdomain such as `hub.mysite.com`.

[2020-12-17 13:37] #412 closed

[2020-12-17 13:40] dunglas commented on #388
Thanks to the data provided by @aurelijusrozenas we identified the issue. It looks like the topic selector cache isn't cleared even when no subscribers use this topic anymore. The problem is probably somewhere near https://github.com/dunglas/mercure/blob/main/topic_selector.go#L94

![image](https://user-images.githubusercontent.com/57224/102494950-bf506380-4075-11eb-8251-46f2809c9192.png)

[2020-12-17 13:51] alexislefebvre commented on #414
Wow, thanks a lot! :clap:

[2020-12-17 18:59] TamasSzigeti commented on #419
Sorry, it doesn't. Same:

[code]

[2020-12-17 20:40] TamasSzigeti commented on #419
Same error when I feed my keys into the new TestJWTPlaceholders

[2020-12-17 22:39] TamasSzigeti commented on #419
I have the fix, will submit a PR soon

[2020-12-18 22:09] dunglas commented on #388
I made some tests and unfortunately I'm not able to reproduce the problem yet locally. A script (JS or anything else) allowing to trigger the memory leak could help a lot.

[2020-12-19 12:11] dunglas commented on #388
For the record, I plan to switch from our built-in cache implementation to risretto. This should fix the issue and improve memory usage for everyone.

[2020-12-21 07:35] aurelijusrozenas commented on #421
@francislavoie yes, default logging configuration from caddy would be awesome!

Ok, I think I got it. These are my final configs for the record:
[code]
[code]

[2020-12-21 07:35] #421 closed

[2021-01-04 08:54] darienicolae opened #431 "Multi-domain set Hub Url problem"
Hello,

I have the followingi issue, i have a multi-tenant application in which the domain of the website is changing dynamically for each client. How is it posssible to set the mercure.hubs_default_url dynamically in order to have it to match for each tenant individually?

I tried something like: url: 'https://%router.request_context.base_url%:3000/.well-known/mercure', but this didnt work.

I se

[2021-01-04 09:37] jason-dll commented on #100
@dunglas Is there any news ?

Thank you for all your work

[2021-01-04 12:52] dunglas commented on #100
It's the next entry in my todo list after releasing 2.6 stable!

[2021-01-05 00:39] #388 closed

[2021-01-05 16:01] yurik94 opened #435 "/.well-known/mercure/subscriptions 404 Not found"
Hello, thanks for this awesome project.
I'm trying to use the docker image (currently 0.11 or 0.10) but even if I use the `Caddyfile.dev` with `subscriptions` enabled I always get a 404 Not found on:
`https://localhost/.well-known/mercure/subscriptions`

The Caddyfile.dev is untouched and the docker ps command launched is:
`"caddy run -config /etc/caddy/Caddyfile.dev"`

What's wrong?

[2021-01-06 21:33] dunglas commented on #394
I would like to migrate to `https://github.com/square/go-jose`. This should also fix #404.

[2021-01-07 13:22] sagikazarmark commented on #357
Still valid

[2021-01-07 14:21] aurelijusrozenas commented on #388
Fixed with v0.11.0-rc.2 :partying_face:
![paveikslas](https://user-images.githubusercontent.com/3273544/103903115-2658b980-5104-11eb-8171-fa180e8d3231.png)

[2021-01-07 20:39] divine commented on #394
@dunglas 👋,

I think there are some conflicts with maintenance and it doesn't look good that main contributor left the company and it isn't being taken care https://github.com/square/go-jose/issues/342#issuecomment-736735190

Maybe as suggested this one is better https://github.com/lestrrat-go/jwx?

Thanks!

[2021-01-08 07:06] josephmiller2000 opened #438 "Load Issues"
For some reason, i can't figure it out, but mercure is not being stable.

**My server config:**

[code]

Does mercure need parodic reboot or restart to keep it stable with all new subscriptions?

Here is my live chat application, https://socket.chatzozo.com/ (NSFW) Which is now in a production mode, people reporting, there is a lag at certain period of time, which is causing message delay, or all

[2021-01-08 07:14] josephmiller2000 commented on #438
Looks like it is related to https://github.com/dunglas/mercure/issues/388

Because i had high cpu usage and ram memory is almost eaten up.

[2021-01-08 07:55] ip512 commented on #435
Hi, I have the same issue with version 0.11 only. With same base code, subscription API works fine. If I change the version to 0.11, with the following config in a caddyfile, subscriptions api return a "404 Not found".
[code]
Any other features works fine (publish, subscribe)

I tested on v0.11.0-beta.2 and v0.11.0-rc.2

[2021-01-08 08:08] dunglas commented on #438
Hi, which version do you use?

[2021-01-08 08:14] josephmiller2000 commented on #438
v0.10.4

[2021-01-08 08:16] dunglas commented on #438
Ok, coup you try to update to 0.11 RC 2? This issue has been fixed in this version.

[2021-01-08 08:17] josephmiller2000 commented on #438
Alright thanks, planning to do so, then i will update more info later.

[2021-01-08 11:58] JSmythSSG commented on #253
Did you get this working? I've just moved over from the legacy to the new Caddy version and getting the same
`has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2021-01-08 12:09] dunglas commented on #435
I reproduced the issue. I'm working on a fix.

[2021-01-08 14:39] JSmythSSG commented on #253
`{"level":"info","ts":1610116467.3811321,"logger":"http.log.access","msg":"handled request","request":{"remote_addr":"188.114.110.34:29984","proto":"HTTP/1.1","method":"GET","host":"XXXXXXXXX:8443","uri":"/.well-known/mercure?topic=https%3A%2F%2FXXXXXXXXX%2Fv1%2Fmanage%2Fcontacts%2F4311","headers":{"Cf-Request-Id":["078404a26b0000ff6867993000000001"],"Cdn-Loop":["cloudflare"],"Origin":["https://19

[2021-01-08 14:40] yurik94 commented on #435
@dunglas Thank you very much Kevin, awesome work!

[2021-01-08 17:02] #435 closed

[2021-01-08 17:09] dunglas commented on #431
Hi @darienicolae, this should be reported in the issue tracker of the Symfony MercureBundle: https://github.com/symfony/mercure-bundle. This repo is only about the specification and the reference implementation. Could you reopen on this repo please?

Currently, parameters aren't resolved in this config entry. Maybe should we do it, this should fix your issue.

[2021-01-08 17:09] #431 closed

[2021-01-08 17:16] dunglas commented on #387
I'm not against supporting this feature in the hub. But I'm not sure if it should be in the spec. I think it's better to be as close as possible to the SSE spec.

[2021-01-09 14:50] darienicolae commented on #431
I will post the ticket in the Mercure Bundle. I found a workaround in the
meantime:
This way i can call the Publisher having the hubURL

$jwtProvider = new StaticJwtProvider($_ENV['MERCURE_JWT_TOKEN']);
$publisher = new Publisher($hubURL, $jwtProvider);

On Fri, Jan 8, 2021 at 7:09 PM Kévin Dunglas <notifications@github.com>
wrote:

[2021-01-10 09:08] JSmythSSG opened #442 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
I've just moved over from the legacy to the new Caddy version and getting
`has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

Is this an issue with the cors on the mercure server side or is it something to do with the requesting server not sending the correct header. Currently its hosted on an nginx docker and uses Cloudflare for dns ro

[2021-01-10 13:43] dunglas commented on #442
Could you paste your config please?

[2021-01-10 15:44] JSmythSSG commented on #442
The caddy file is
[code]
the compose file
[code]

[2021-01-11 07:49] ip512 commented on #435
Many thanks for the fix, I confirm it works perfectly with rc3

[2021-01-13 09:50] tebaly opened #445 "Intermittently error 502 - nginx"
Hello. Intermittently error 502 - nginx
[code]
Runs through the supervisor in a single process. No error in logs.
Configured according to: https://mercure.rocks/docs/hub/cookbooks

[code]

[2021-01-13 14:50] dunglas commented on #445
Which version of Mercure are you using?

[2021-01-13 20:44] tebaly commented on #445
Last stable https://github.com/dunglas/mercure/releases/download/v0.10.4/mercure_0.10.4_Linux_x86_64.tar.gz

[2021-01-13 20:49] tebaly commented on #445
All 502 from mercure. No errors in mercure log
![image](https://user-images.githubusercontent.com/9466814/104508502-5f5bc700-55f9-11eb-87a1-ad5b38ff86f4.png)
![image](https://user-images.githubusercontent.com/9466814/104508630-929e5600-55f9-11eb-944a-ef9751807f23.png)
![image](https://user-images.githubusercontent.com/9466814/104508719-b366ab80-55f9-11eb-97a2-40c57fd32fa4.png)
![image](https://use

[2021-01-13 22:03] dunglas commented on #445
Could you try the latest RC? We fixed some bugs that may be related.

[2021-01-13 22:17] tebaly commented on #445
Good. Thanks. I'll try

[2021-01-14 09:50] tebaly commented on #445
I tried https://github.com/dunglas/mercure/releases/download/v0.11.0-rc.3/mercure-legacy_0.11.0-rc.3_Linux_x86_64.tar.gz
It did not help.

How can i catch the error process? No errors in mercure log

[2021-01-14 10:07] dunglas commented on #445
You can try to enable the debug mode, but I wonder if it's a problem with Mercure or with NGINX.

To enable the debug mode with the RC, simply set the `DEBUG` env var to 1.

[2021-01-14 10:39] tebaly commented on #445
`DEBUG	mercure/subscriber.go:177	Subscriber has not subscribed to this update`

The log does not contain any ERROR or CRITICAL - even when debugging is enabled

I use Symfony (and api-Platform https://api-platform.com/docs/core/mercure/ - But sending messages manually)

[code]

[2021-01-14 10:44] tebaly commented on #445
Perhaps the some global NGINX settings are not suitable for proxying Mercure?
Timeouts?.. Something from this

[code]

[2021-01-14 22:56] tebaly commented on #445
https://stackoverflow.com/questions/49767001/how-to-solve-nginx-no-live-upstreams-while-connecting-to-upstream-client/49783716

![image](https://user-images.githubusercontent.com/9466814/104658928-ce5a1e00-56d4-11eb-9e2a-b1e1e69636f0.png)

[2021-01-15 15:56] #445 closed

[2021-01-16 15:20] silverbackdan opened #448 "[Support/Bug]? 401 Unauthorized"
I'm sorry to post this here, I'm not sure where else to ask. I'm using the Caddy implementation and getting a 401 response when trying to publish. I'm sending the Authorization Bearer header as I'm using the Mercure Bundle with Symfony too and have checked the logs to see that it's being sent. My process is this:

I create a token that I use for all of these:
[code]

To create my environment varia

[2021-01-16 15:51] silverbackdan commented on #448
To be sure I've adjusted my private key generation to use `ssh-keygen` after installing it in the deployment process as well.

[code]

Same responses... very strange!
[code]

[2021-01-16 16:10] silverbackdan commented on #448
[code]

I've ended up with this to copy the example as exact as I can now.

Still
[code]

[2021-01-16 18:57] mathieutu opened #449 "Create a Mercure adapter for GraphQL subscriptions (Apollo)"
Hi Kévin.

I would like to reopen #162.
I would like to use mercure instead of websocket for my graphql subscriptions, but I'm actually not understanding how to properly do that. I didn't find any resource about it, neither someone who have already done it.

Disclaimer : I'm not a graphql expert, and especially totally noob in real-time stuff.

What I've understood is there is a several part in su

[2021-01-16 20:52] dunglas commented on #449
Hi Mathieu,

Using Mercure for GraphQL subscriptions has been implemented by @alanpoulain in API Platform: https://api-platform.com/docs/master/core/graphql/#subscriptions
The related code: https://github.com/api-platform/core/tree/master/src/GraphQl/Subscription

I hope this help!

[2021-01-17 00:20] dunglas commented on #387
I suggest to add support for query parameters in spec. We can adapt the wording of the OAuth spec: https://tools.ietf.org/html/rfc6750#section-2.3

[2021-01-17 01:56] ValentinJD-Pro opened #450 "Weird error while installing Mercure : invalid config: one of "jwt_key" or "publisher_jwt_key" configuration parameter must be defined"
But the command that i used to run it is the right one
from https://mercure.rocks/docs/hub/install

(I'm trying to run it on windows)

So when i run  : $env:MERCURE_PUBLISHER_JWT_KEY='!ChangeMe!'; $env:MERCURE_SUBSCRIBER_JWT_KEY='!ChangeMe!'; .\mercure.exe run -config Caddyfile.dev

I just get : invalid config: one of "jwt_key" or "publisher_jwt_key" configuration parameter must be defined

[2021-01-17 11:21] #382 closed

[2021-01-17 18:15] dunglas commented on #450
Area you using version 0.11? It looks like you have a binary supporting the old configuration format.

[2021-01-18 05:01] divine commented on #387
@dunglas 👋, that would be really great!

Thanks!

[2021-01-18 21:43] dunglas commented on #448
Did you try this? https://mercure.rocks/docs/hub/config#jwt-verification

[2021-01-18 21:55] dunglas commented on #442
That's weird, I'm not able to reproduce using Caddy and no reverse proxy.

I get this result:

[code]

(The `Access-Control-Allow-Origin` is present).

[2021-01-18 21:58] dunglas commented on #442
Is the NGINX server in front of Caddy? If yes could you also paste its configuration?

[2021-01-19 08:28] josephmiller2000 opened #454 "Is there any idle time out?"
For some reason, people in my chat application keep reporting the application is not responding or not able to see any new messages until they refresh the chat page.

After looking logs, there is no issue or error. After concluding, there could be some timeout happening after people switch to other tabs or idle for more than 30 minutes or so.

So just want to make sure is there any idle timeout fo

[2021-01-19 09:35] silverbackdan commented on #448
I did that as closely as possible in my latest CI scripts as closely as possible as I've shown in my last comment.
[code]

But what I've thought I should do is recreate all these again inside the built containers, this way I can work out if it's definitely integration or a bug. I assume that you've had builds recently all working well with the verification process outlined in the docs?

[2021-01-19 12:33] dunglas commented on #454
Browsers usually close the connection after some idle time, but they reconnect automatically. Do you see something in the console of the browsers?

[2021-01-19 14:04] josephmiller2000 commented on #454
No i don't see any console errors in the browsers.

[2021-01-19 20:15] damijank commented on #387
@dunglas nice! I'm looking forward for an update.
Thanks!

[2021-01-20 07:25] lars-feyerabend opened #455 "How to pin caddy build on particular version?"
Hey there,

I'm trying to include Mercure in a project similar to api-platform/api-platform or dunglas/symfony-docker, i.e. with a custom-built Caddy as main web server.

However, unlike the examples above, I would really like to pin Mercure to a specific version because we've been bitten by an unintended upgrade before (the breaking changes in 0.10).

My Dockerfile looks like this:

[code]

Howev

[2021-01-20 14:50] silverbackdan commented on #448
The key I generated for my publishing application was using `HS256` firstly so I should not have overridden with `RS256`

This gave me the error `unable to parse JWT: signature is invalid`

Sorry for this - I see my issues with the mis-matching types.

[2021-01-20 14:50] #448 closed

[2021-01-21 23:35] Lyro1 commented on #292
Hello @adares2, I am running on the same issue, and don't understand your solution.
Which address are you referring to?

[2021-01-22 11:00] Lyro1 opened #456 "Deploy mercure with Caddy on my Nginx web server"
Hello there,

I have been developing a web app using Mercure Hub, and faced no issue in my local environment. I now got a server on which I set up a Nginx Web Server so that I could host my app.

The app is made of 3 blocks, each block having its own Nginx space:
- The Mercure Hub, accessible on `my-app-mercure.mydomain.com`
- The app back-end in Symfony, accessible on `my-app-back.mydomain.com`
-

[2021-01-23 19:29] josephmiller2000 commented on #438
Ok, now using 0.11 RC 2 version. And check the screenshot, is this normal? does it takes these much of memory to run?

![Snap_Shot_01621](https://user-images.githubusercontent.com/24210340/105612030-1bc64180-5ddf-11eb-93cd-42dad6ed3db5.png)
![Snap_Shot_01622](https://user-images.githubusercontent.com/24210340/105612034-1cf76e80-5ddf-11eb-873b-c858bd613d3f.png)

[2021-01-23 22:53] dunglas commented on #438
This issue has been fixed in the rc3 (and in the stable version).

[2021-01-25 13:54] gdis commented on #442
I can confirm that something is wrong with cors. I have exact the same config, running on linux native, here a response

`2021/01/25 13:08:58.529	INFO	http.log.access	handled request	{"request": {"remote_addr": "xxx.xxx.xxx.xxx:62304", "proto": "HTTP/2.0", "method": "HEAD", "host": "xxx.xxx.xxx", "uri": "/", "headers": {"User-Agent": ["curl/7.64.1"], "Accept": ["*/*"]}, "tls": {"resumed": false, "

[2021-01-25 16:57] dunglas commented on #442
Can you paste you `Caddyfile` (if modified), the environment variables set and the command used to start Caddy please? Without a reproducer it's very hard to debug (I tried, but didn't manage to do it).

[2021-01-26 10:21] JSmythSSG commented on #442
Caddy
[code]
NGINX
[code]

[2021-01-29 01:37] ZeBigDuck opened #458 "Can client set custom payload to choose its own subscriptions ?"
Hi!

I'm thinking about how to integrate mercure into a large marketplace app.

Imagine it does have plenty of `Stores`, with plenty of `Products`.
I'm a `Customer` and I have added 50 `Products` in my cart, from various `Stores`.

I want to know when any of these `Products` has it price changed by the store owner.

Wouldn't be inefficient and slow to have 50 EventSources (one for each product) ?

[2021-01-29 07:05] dunglas commented on #404
Not stale

[2021-01-29 14:14] viccvanco opened #459 "Address already in use"
Hi,

I try Mercure latest release, I extracted mercure_0.11.0_Linux_x86_64.tar.gz on a subdirectory mercure/ in my project directory on Debian 10 with apache 2, then when I launch the command ./mercure run -config Caddyfile.dev I've got this message:

2021/01/29 14:08:22.734 INFO    using provided configuration    {"config_file": "Caddyfile.dev", "config_adapter": ""}
run: loading initial config:

[2021-01-30 07:33] dunglas commented on #459
Hi,

You have a process already using the port `2019`. You must kill it to start Mercure or change the admin port of Mercure using the `admin.listen` option: https://caddyserver.com/docs/json/admin/

[2021-01-30 07:33] #459 closed

[2021-01-30 14:57] josephmiller2000 commented on #438
After digging more for the cause of this issue, i have found that mercure is reconnecting itself, and sending all subscriber users all the pending and old messages, if there is a drop in connection or some other issue, which slow downs the process of mercure, and it is being tooo laggy for chatters who use our production application.

[2021-01-31 13:53] dunglas commented on #438
You can switch to the local transport to disable history totally.
However it looks like a bug in the client you use, because by the spec the client must pas the event of the last of it received when reconnecting, and Mercure will only send messages broadcasted since this message.

Do you have some logs to provide (especially the URLs and HTTP headers used when reconnecting)? I would like to see wh

[2021-01-31 17:23] josephmiller2000 commented on #438
Ok sure, let me send you the link of the application directly to your twitter DM ? or through email. So you can check and confirm it. Thanks.

[2021-02-02 17:09] Lladdmi opened #460 "Symfony not sending updates"
I made simple docker based application with NGINX, PHP, PostgreSQL, Node, Mercure and Symfony just to test the capabilities of Mercure. The problem is that I'm not getting any updates from Symfony publisher service, there's no errors in logs, no errors in Symfony profiler. Sending updates trough mercure ui is working just fine.

I'm using latest dunglas/mercure image along with PHP 7.4 and Symfony

[2021-02-03 12:35] back-2-95 opened #461 "Caddy version with Traefik 2"
I added Mercure for a local development tool chain we use (portainer, traefik etc).

[code]

Using port 443 will get this:

[code]

Using port 80 will result `ERR_TOO_MANY_REDIRECTS`

Any idea?

[2021-02-05 18:24] Julienblc opened #462 "Invalid JWT signature"
Hello all,

I try my first mercure server, but I have a problem very soon.

Here I launch the mercure server :

<img width="1305" alt="Capture d’écran 2021-02-05 à 19 18 04" src="https://user-images.githubusercontent.com/7222986/107073131-40f77e80-67e7-11eb-9ef0-8bd85316b34a.png">

The server is launched, good. Then I create a JWT :

<img width="1191" alt="Capture d’écran 2021-02-05 à 19 21 21

[2021-02-08 13:31] julienfollow commented on #461
Same error with trafiik ... i don't know why ...

[2021-02-08 14:39] dunglas commented on #461
I don't use Traefik that much but according to the error it's because Traefik is handling the TLS connection, but Caddy is still in HTTPS mode.

You should try to disable the HTTPS support of Caddy. To do so, you can explicitly add `localhost:80` at the first line of the Caddyfile. If you use the default Caddyfile we provide, you can also set the `SERVER_NAME` environment variable to `localhost:80

[2021-02-09 06:53] back-2-95 commented on #461
Thank you, I'll try that.

I'm not familiar with Caddy so I think I tried everything else to change https>http but that line change I did not try.

[2021-02-09 08:37] back-2-95 commented on #461
I changed to

[code]

Now it gives empty 200 OK responses from https://mercure.${DOCKER_DOMAIN} or https://mercure.${DOCKER_DOMAIN}/.well-known/mercure/ui/

Logs from the Mercure container after those ^^ requests:

[code]

[2021-02-09 21:54] asimonf commented on #357
Hey guys, any chance we can get this up somewhere? It has been a pain to get a chart for this and I'm currently running the deprecated version. I think there's interest to help get this up, but without guidance on hosting this will probably remain unresolved.

[2021-02-09 22:00] dunglas commented on #357
We'll host it directly in this repository. I've started something here: https://github.com/api-platform/api-platform/tree/main/helm/api-platform

Basically, what is left to do is to extract the Mercure part.

[2021-02-10 10:34] leekung commented on #456
The SERVER_NAME must be full URL to make Mercure listen on http only
example

`
USE_FORWARDED_HEADERS=1 MERCURE_PUBLISHER_JWT_KEY='!xxx!' MERCURE_SUBSCRIBER_JWT_KEY='!xxx!' SERVER_NAME='http://localhost:3000' ./mercure run -config Caddyfile
`

or change the line `{$SERVER_NAME:localhost}` to `http://127.0.0.1:3001`

[2021-02-10 12:26] adeelnawaz opened #463 "Subscription API causes memory overshoot"
Hi. I'm using Mercure's official docker image with a few customizations in Caddyfile. Without the subscription API turned on, the memory usage is very low. But as soon as I enable the subscription API, the memory usage jumps to 100% and the container crashes. Container and load specs are as follows:

CPU units: ~680 (t3a.medium EC2 instance, 2 vCPUs, shared by one Mercure task with two other tasks

[2021-02-10 12:35] adeelnawaz commented on #463
I have changed the memory from 256 to 512, and now the task seems stable. But still, is the memory overuse justified or could there be a memory leakage?

[2021-02-10 12:50] dunglas commented on #463
Could you tell me if the memory usage increases over time? The subscription API needs more memory but it shouldn't be that much. Could you also provide me a memory profile? The steps to collect a profile are described here: https://mercure.rocks/docs/hub/debug

[2021-02-11 06:55] gallyamow commented on #97
I got this error when run mercure over systemctl and fixed it by adding `WorkingDirectory=/tmp`  in unit file.

[2021-02-11 16:37] bpolaszek opened #464 "0.11 introduced a timeout issue"
Hello there,

It seems that the Caddy-flavoured 0.11 introduced a regression regarding timeouts. Even if I set `write_timeout ` and `dispatch_timeout ` to 0 (by env var or directive), a listener gets disconnected [precisely 9:30 || precisely 10 minutes]* after subscribing:

[code]
<img width="742" alt="Capture d’écran 2021-02-11 à 17 32 34" src="https://user-images.githubusercontent.com/5569077/

[2021-02-12 08:04] adeelnawaz commented on #463
The memory usage was at 100% right after the deployment, which was causing the container to crash. But the frontend app had around 30-50 users online at that time, so as soon as the mercure service were up, it would have to face its regular load. I'll collect a debug profile, though it won't be on 256mb memory, since I cannot afford a crash :)

[2021-02-12 13:13] back-2-95 commented on #461
Fixed with https://twitter.com/dunglas/status/1360178388485480449?s=20

[2021-02-12 13:13] #461 closed

[2021-02-12 13:13] back-2-95 commented on #461
so I just change `SERVER_NAME: "localhost:80"` to `SERVER_NAME: ":80"`

[2021-02-12 13:14] back-2-95 commented on #461
@julienfollow ^^ check that

[2021-02-15 08:54] finnef commented on #442
I have the same problem when specifying a cors host. with * it works, anything else the header is missing.

My docker-compose:
`
caddy:
    image: dunglas/mercure:v0.11.0
    ports:
      - "3000:80"
      - "3001:443"
    volumes:
      - ./scripts/mercure/Caddyfile:/etc/caddy/Caddyfile
      - ./scripts/mercure/data:/data
      - ./scripts/mercure/config:/config
`

my Caddyfile:
`
{
    local_ce

[2021-02-15 09:12] finnef commented on #442
followup: I now use a workaround with
`
header Access-Control-Allow-Origin https://127.0.0.1:8000
header Access-Control-Allow-Credentials true

`

in my Caddyfile

[2021-02-15 22:19] dunglas commented on #442
I tried to create a reproducer, but it works for me. Here is my repository: https://github.com/dunglas/mercure-reproducer-cors
It would help me a lot to figure out the problem if someone manage to open a PR on this repo containing a config reproducing the issue.

[2021-02-15 22:34] dunglas commented on #442
I also tried to create [a reproducer with NGINX in front of Mercure in the `nginx` branch](https://github.com/dunglas/mercure-reproducer-cors/tree/nginx), but it works as expected on my machine.

[2021-02-16 08:27] finnef commented on #442
If I do a docker-compose up on the  https://github.com/dunglas/mercure-reproducer-cors repo I get a
[code]
changing the image to a more specific dunglas/mercure:v0.11.0 allows me to run the setup. (could be a docker caching thing, but it might be good to specify the image more precisely .

With that image the explicit cors works. The only difference from my setup is you are using the default Caddy

[2021-02-16 08:41] finnef commented on #442
Hmm followup:
if I visit https://domain1.local/.well-known/mercure/ui/ on the setup of this repo, my response headers are access-control-allow-origin *, while in the docker-compose file it states cors_origins https://domain2.local:4443

[2021-02-16 11:11] CreaDEV commented on #464
Same here with following setup:
- docker image dunglas/mercure:v0.11

Subscribers get disconnected automatically after 10 minutes. Setting `write_timeout` to 0 seems to have no effect.

[2021-02-16 12:17] mslavov commented on #442
Not sure if it helps, but it seems the issue at least in our case was related to whether or not who try to subscribe over HTTP or HTTPS. Initially we were trying with HTTP and we got CORS issues and headers not presented. But I notice the debug console redirects to HTTPS and gets the headers set. So, the way to fix it was to use HTTPS initially. For references we were using the latest docker image

[2021-02-16 17:06] dunglas commented on #464
I reproduced the issue, I'm working on a fix.

[2021-02-16 17:09] dunglas commented on #464
Did you set `write_timeout` to `0` or to `0s`?

[2021-02-17 08:15] bpolaszek commented on #464
I actually tried both, none helped 😕

[2021-02-17 21:22] dunglas commented on #464
#469 should fix the issue! Could you give it a try? Thanks!

[2021-02-18 09:40] bpolaszek commented on #464
Tested and approved! 🙏

[2021-02-18 12:02] KDederichs opened #470 "JWK Support"
Hey,
I was wondering if auth worked with services like Firebase that provide you with rotating public keys: https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

I saw that you can provide a public key for verification but that's not that practicable when you have keys that rotate.
So is there something like a "keyProviderUrl" parameter? (If not would it be cons

[2021-02-22 10:01] xleliberty commented on #449
Hi,
@mathieutu , did you succeeded setting up an apollo transport for mercure subscriptions with help of the documentation ?
On my part, i don't have sufficient apollo knowledge to got it working.
I tried to use a SplitLink (https://www.apollographql.com/docs/link/composition/) to dedicate a transport to mercure, but link initialization fail with a 401.

If anyone can provide a working apollo code

[2021-02-22 10:07] mathieutu commented on #449
Hi @xleliberty.
Unfortunately no, I didn't succeed to have anything working with mercure, so I moved on to a standard websocket implementation which is ok for me. I may take a further look one day when I will have the time to do it.

[2021-02-22 13:09] xleliberty commented on #449
ok thanks

[2021-02-22 17:19] ssi-anik opened #472 "Expected behavior for tokens with `exp` claim?"
I generated a subscriber token setting the `exp` claim. It correctly throws 401. But when it gets connected, even after expiry, events get streamed thru the connection. Should it be expected behavior?

[2021-02-23 13:39] daniboyBr commented on #463
How you enable subscription API on docker container? I am using the base file docker-compose.yml from the mercure documentation, but i dont't know if is correctly enabled.

He is my docker-compose file:

[
![806528582_393515](https://user-images.githubusercontent.com/28361020/108851235-f9cd0400-75c2-11eb-8e08-12e6dc7c3a3f.jpg)
](url)

And how the correct way to get subscribers payload or subscript

[2021-02-28 14:22] giantthinker opened #473 "SSL peer certificate or SSH remote key was not OK for "https://localhost:8000/.well-known/mercure"."
Hello, I cannot get pass this error on a Windows 10 computer. Any hints?
Thanks.

[2021-03-01 10:17] #464 closed

[2021-03-01 20:28] dunglas commented on #472
Currently, it is. The token is checked only at connection time. But maybe could we change that.
If you need to disconnect the user when the token expires, you can set a short `write_timeout` value.

[2021-03-02 00:26] ssi-anik commented on #472
I was experimenting the mercure and I came across the scenario. Thanks anyway.

[2021-03-02 08:18] bpolaszek commented on #464
Thank you @dunglas.

[2021-03-02 11:47] BonBonSlick commented on #247
What a messed up docs, loosing so much time to do such a simple stuff, while the package should make it easier.
Nothing works

[code]

[2021-03-02 12:08] BonBonSlick commented on #247
nope
[code]

[2021-03-02 12:28] BonBonSlick commented on #247
Also nope, after upgrading to latest 0.11 binary got error
[code]

[2021-03-02 17:23] BonBonSlick opened #476 "Subscription events not working (duplicate)?"
Subscription events not working? #247
https://github.com/dunglas/mercure/issues/247

[2021-03-04 02:50] Xusifob commented on #462
How is your configuration ?

Have yo usigned your JWT Token with your "publishKey" as well ?

[2021-03-04 11:11] KDederichs commented on #470
Ok after looking around for a bit I found the answer to my original question is no :)

Which leads me to this update:
It would be neat to have JWK support for tokens, since there's a decent amount of JWT providers out there that support that system. (Firebase being one of them https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com )
Sadly the JWT library you use

[2021-03-04 12:03] BonBonSlick opened #477 "Caddy open mercure.db: permission denied"
[code]

[code]
[code]

[code]

Used install guide https://caddyserver.com/docs/install#linux-service

Issue is in mecure plugin, because disabling it will start caddy as supposed to.

[2021-03-04 12:11] BonBonSlick commented on #477
disabling transport_url local:\\local solves it

[2021-03-04 12:11] #477 closed

[2021-03-04 16:00] drychlik76 opened #478 "MIME type ("text/html") that is not "text/event-stream""
Experiencing an odd issue with the mercure hub.  I am using EventSource js object to receive the updates from the mercure hub that are published by a symfony controller.  I have not found a solution for this issue.

`EventSource's response has a MIME type ("text/html") that is not "text/event-stream". Aborting the connection.`

[code]

mercure hub version _11

This is the response headers coming f

[2021-03-04 17:01] drychlik76 commented on #478
I'm assuming its coming from the mercure hub.

[2021-03-04 20:45] dunglas commented on #478
`const url = new URL('http://localhost:4000/.well-known/mercure/ui/');` should `const url = new URL('http://localhost:4000/.well-known/mercure');`.

With current snippet the browser tries to load the debugger (an HTML page) instead of the SSE endpoint.

[2021-03-04 20:45] #478 closed

[2021-03-04 20:45] #476 closed

[2021-03-04 20:54] drychlik76 commented on #478
:slaps-head:  Thank you Dunglas.  That did it.  It's always something simple.

[2021-03-06 11:08] BonBonSlick opened #479 "401 Unauthorized anonymous?"
[code]
`
addy[60407]: {"level":"error","ts":1615028590.3192472,"logger":"http.log.access.log0","msg":"handled request","request":{"remote_addr":"188.163.53.20:6248","proto":"HTTP/2.0","method":"GET","host":"remote.api.com","uri":"/.well-known/mercure/subscriptions/test","headers":{"Pragma":>...`

Whatever we pass to uri it is still 401 always.
EG urls are 401
[code]
[code]
Stil topics urls works f

[2021-03-06 11:15] BonBonSlick commented on #479
Well from the docs we see that JWT requires subscrive['*'] encoded for susbcriber, but the thing is, polyfill  suggested by mercure and symfony has empty EventStream tab which makes it impossible to debug.
https://mercure.rocks/docs/hub/troubleshooting
EventStream tab must work.

[2021-03-06 11:15] #479 closed

[2021-03-06 16:20] BonBonSlick commented on #247
Well, seems package is dead, I would not recommend to use it.

[2021-03-07 12:31] divine commented on #247
@BonBonSlick welcome to the open-source world!

If you can't fix it yourself **be kind** and patiently wait for the reply whenever the maintainer will have a look at this.

Being toxic won't help here, this isn't upwork where you get paid for this type of work. /end.

Thanks!

[2021-03-07 18:09] anwarien commented on #317
hi Gaylord. i think for the private update you have to specify the id in the topic itself  exemple.com/chat/$id , true(private)  and the same thing in javascript eventsource

[2021-03-08 17:00] yoelaaron opened #480 "Mercure with Symfony return 401 unauthorized when i disable the anonymous mode"
Hi Kevin, thanks for this works !

When i turn off the anonymous mode to enable the authentication with cookies, the mercure hub return me a 401 unauthorized error.
My URLS :
- Hub : dev-mercure.domain.com
- My App : dev-jeu.domain.com

All the solutions running on CI with jenkins and Traefik for the Reverse proxy.

I put a screen of my Error.

Can you help ?
Thanks,
Best Regards

![Capture d’écr

[2021-03-08 20:52] ochov1 commented on #473
I have the same issue

[2021-03-08 22:39] ochov1 commented on #473
In the file vendor/symfony/mercure/src/Publisher.php you must add in the __invoke method, your return must look like this

[code]

so you must add the last

` 'verify_peer' => false`

have a nice day.

[2021-03-09 10:58] yoelaaron commented on #480
I can close de issue, i put in my CookieGenerator the domain of my Mercure Hub and its fine.

`return Cookie::create('mercureAuthorization')
            ->withValue($token)
            ->withDomain('domain.com')
            ->withPath('/.well-known/mercure')
            ->withSecure(true)
            ->withHttpOnly(true)
            ->withSameSite('strict');`

[2021-03-09 12:53] adares2 opened #481 "SSL problems with own certificate"
I have a Docker Symfony Nginx Php Mercure Stack. I updated the Mercure Image to the new Caddyserver.
I want to use my own certificate for Mercure.
I configured the Server with the following settings:

The docker-compose file:
[code]

and the Caddyfile
[code]
The Caddyserver is reachable under https://example.com:4001/.well-known/mercure. The SSL seams to work.
But when Symony tries to connect with

[2021-03-17 17:49] josephmiller2000 commented on #454
Closing this, there was some timout limit enabled with mercure starup program. Increased the time, planning to set it as 0s

[2021-03-17 17:49] #454 closed

[2021-03-18 11:18] nuvolapl opened #482 "OPTIONS - 405 Method Not Allowed"
When I subscribe a topic via js [EventSource](https://www.npmjs.com/package/eventsource) I have an issue with OPTIONS method request. Specifically - "405 Method Not Allowed".

[2021-03-18 15:23] MatthiasDesrumaux opened #483 "Distinct cookies for a single application from the same browser session"
I have a question about multi-client apps.

I have a setup like this one:
- A single API/Front Platform with a reverse proxy who handle multiple host for this application. They share the same domain.
- a single Mercure hub, which is on the same domain.

I want to make the mercure cookie distinct for each host.
Today the cookie is send like this:
`ApiA.domain.com -> FrontA.domain.com -> mercure.dom

[2021-03-20 12:17] divine commented on #463
Hello @dunglas,

Having the same problems, memory increases overtime and CPU constantly high.

Not sure if it's related to Mercure itself or just another plugin (Vulcain) of the Caddy server having memory leaks since we moved away from the standalone Mercure server.

Here is a debug profiles:

pprof.caddy.samples.cpu.001.pb.gz (30 seconds)
pprof.caddy.samples.cpu.002.pb.gz (90 seconds)
pprof.caddy

[2021-03-20 12:45] dunglas commented on #463
It's because you're in debug mode. Can you try to disable it to see the situation improves?

[2021-03-20 13:02] divine commented on #463
@dunglas the reason for enabling debug mode was only to dump some debug profiles. Indeed, normally it's a _little_ bit better with disabled debug mode and error level set to fatal but still situation isn't good at all.

Almost two crashes of the server in the last two days. Caddy doesn't get killed by the system while taking all CPU cycles and memory - it's just sitting and waiting to crash the se

[2021-03-20 13:04] dunglas commented on #463
Can you try to use the `legacy` build so we'll see it's related to the Caddy module or to a change in the library itself. Thanks for the profile, I'll take a look.

[2021-03-20 13:11] divine commented on #463
Sure, I will move back to legacy build and report back with the result.

Also, would like to get some debug profiles of the server when it's getting close to the crash with filled memory and CPU cycles.

Thanks!

[2021-03-20 14:59] adeelnawaz commented on #463
Hi, sorry I couldn't provide you with a debig profile but for me the issue
arised (original issue) when the subscription API was enabled. With it
disabled, hardly 10% of the memory was used.

The client was getting anxious so I had to replace mercure with another
service but I can dig out the Dockerfile and give you ECS specs if
that helps recreate the issue.

On Sat, Mar 20, 2021, 14:11 Divine **

[2021-03-22 06:52] divine commented on #463
Just kindly update, looks like definitely an issue with https://github.com/caddyserver/cache-handler which was installed and enabled as well.

The actual problem with the Caddy server is that hard to say which plugin was having an issue. Currently running fine for two days.

Thanks!

[2021-03-22 13:14] dunglas commented on #483
It's not supported currently. What you could do however is to use CNAMEs to associate multiple domains to the same hub fo you can have `api-a.domain.com` -> `mercure-a.domain.com` and `api-b.domain.com` -> `mercure-b.domain.com` (but under the hood both domain point to the same hub).

[2021-03-22 13:16] dunglas commented on #482
Do you have a reproducer? Can you share the domains you use for the app and for the hub (are they on the same top domain)? Can you also share your JS code?

[2021-03-22 13:27] dunglas commented on #481
It's because the self-generated certificate isn't trusted by PHP.

You have several options:

* use the native Mercure hub provided shipped by Symfony CLI (`https://localhost:8000/.well-known/mercure`)
* add the self-signed certificate to the PHP bundle: [extract the local authority generated by Caddy](https://caddyserver.com/docs/automatic-https#local-https) and add it to the bundle use by curl i

[2021-03-22 13:27] #481 closed

[2021-03-23 11:24] nuvolapl commented on #482
There are different subdomain for app and mercure hub but yes, they have the same top domain.

### sample code
[code]

https://events.foo.com - is the "dunglas/mercure:v0.11" docker image running on AWS ECS behind the AWS ELB.
There is also "CORS_ALLOWED_ORIGINS" environment variable set up with "https://app.foo.com" value.

[2021-03-23 12:32] dunglas commented on #482
This is most likely related to your ELB or reverse proxy configuration. I created a repository to try to reproduce the problem, but everything looks ok Mercure-side: https://github.com/dunglas/mercure-reproducer-cors (see also the `nginx` branch for a NGINX-based config).

Could you try to open a PR to this repository with a reproducer?

[2021-03-23 13:37] MatthiasDesrumaux commented on #483
Okey. Thank you i think i gonna create a reverse proxy with nginx to do that. This way i am using two cname by app (I have a restriction on cname count).

[2021-03-23 13:37] #483 closed

[2021-03-25 10:46] alexglvr opened #484 "Custom topics for API Platform and Mercure"
Hello,

I have Mercure working with Api-Platform.

My entities have a field called usergroup, and I want sse messages to be sent only to users that have the same user group.

I thought using custom topics for that.

By default mercure integration in api-platform uses the following form of topics:
http://serverIP/api/entityname/{id} (i.e. IRI)

I would need something like
http://serverIP/api/entity

[2021-03-25 18:59] #450 closed

[2021-03-28 12:37] #455 closed

[2021-03-28 17:27] GaylordP opened #485 "How to use Symfony Mercure with http ?"
Hello and thanks you for your library.

I want to use Mercure in my Symfony 5.2 project, I installed it with `composer require mercure`.
I can access my project thanks to `192.168.0.24:8080` ; no `localhost` and no `https`.

I'm trying to get Mercure to work locally over HTTP but I can't. I searched a lot on google and even asked on Stackoverflow and a French forum, without finding an answer. :/

[2021-03-28 19:16] dunglas commented on #485
Are you using Symfony CLI? If yes, it's a known issue with Symfony CLI and you should use another web server (like `php -S localhost:8000` in the meantime.

See https://github.com/symfony/cli/issues/424.

[2021-03-28 19:51] GaylordP commented on #485
Thanks for your reply :)

No, I don't use Symfony CLI (no `symfony server:start`)

I use local virtual host with Apache on Apple Mac M1.

Thanks in advance if you have any other suggestions

[2021-03-28 21:14] #485 closed

[2021-03-28 22:16] dunglas commented on #485
It looks like the ports in your config and in the Caddyfile don't match `3000` and `8080`. Is it intended?

[2021-03-29 16:28] nuvolapl commented on #482
@dunglas https://github.com/dunglas/mercure-reproducer-cors/pull/1 - here you go ;-)

[2021-03-29 20:30] dunglas commented on #482
Hi @nuvolapl, thanks for the reproducer! It was a config issue. I opened a PR on your fork: https://github.com/nuvolapl/mercure-reproducer-cors/pull/1/files

Cheers

[2021-03-29 20:30] #482 closed

[2021-03-29 23:34] nuvolapl commented on #482
@dunglas Thanks a lot!

Ps. Consider to mention about deprecated / removed "CORS_ALLOWED_ORIGINS" environment variable in docs.

[2021-03-30 09:03] andreaspaita commented on #125
in JwtProvider add

        $token =  (new Builder())
            ->set('mercure',  ['subscribe' => ['*']])
            ->sign(new Sha256(), new Key($this->secret))
            ->getToken()
            ->toString();

[2021-03-30 12:55] Kolvin opened #487 "Mercure as AWS ECS service | No 'Access-Control-Allow-Origin' header is present"
I've been stumped trying to debug this over the past 24 hours and I believe my issue is related to #442
___

I _was_ running `dunglas/mercure:v0.10` via AWS ECS, traffic was routed here via an AWS ALB TG + ACM SSL

And I recently noticed the infamous CORS error from our clients:
`Access to fetch at ... <URL> ... has been blocked by CORS policy: Response to preflight request doesn't pass access con

[2021-03-30 13:20] Kolvin commented on #487
Can someone clarify this comment? - https://github.com/dunglas/mercure/issues/130#issuecomment-527268525

@byhoratiss I know it's been like 2 years, but do you have any thoughts around this given it's similar?

[2021-03-30 20:33] dunglas commented on #482
AFAIK, this environment variable is only mentioned in the "legacy build" section and in the upgrade guide.

[2021-03-30 20:47] dunglas commented on #442
This looks related to https://github.com/symfony/cli/issues/424. You should try without Symfony CLI.

[2021-03-31 21:38] syntaxgirl opened #490 "Getting always 401 when using RSA public keys"
I followed the documentation and generated public/private keys.

[code]

Then I used docker compose file from documentation, and added these keys

version: "3.7"

[code]

unfortunately after container starts up, each request ends up with 401 code. Anyone know why?

Also I tried to run it as

[code]

I get

[code]

I just noticed in the docker logs
`unable to parse JWT: unable to parse RSA public k

[2021-04-01 06:37] dunglas commented on #490
I'll check but I doubt that inline calls to the `cat` command are supported in `docker-compose.yaml`. You should use a volume instead.

Regarding the other commands, I'll check later.

[2021-04-01 12:08] syntaxgirl commented on #490
@dunglas Thanks for the answer. I found a solution. As I am using `docker-compose.yaml` it's possible to add private key like this

[code]

[2021-04-01 12:08] #490 closed

[2021-04-01 21:34] dunglas commented on #394
Related:

* https://github.com/auth0/go-jwt-middleware/issues/73
* https://github.com/dgrijalva/jwt-go/issues/457

Currently, there is no clear winner between all the proposed replacements.
I proposed a patch to form3tech's to fix #404: https://github.com/form3tech-oss/jwt-go/pull/11

I'll use my own fork until it is merged, and we'll switch either to form3tech's fork, JWX or Square's lib (but thi

[2021-04-02 07:45] #404 closed

[2021-04-02 20:22] disco07 commented on #157
how to put mercury in production with apache in ubuntu. Can you help me please ? Urgent

[2021-04-02 20:25] disco07 commented on #148
how to put mercury in production with apache in ubuntu. Can you help me please ? Urgent

[2021-04-06 02:31] #458 closed

[2021-04-07 05:48] JoergSommer opened #494 "How to change the log level"
Hello!

I try to change the log level of the mercure server (I'm using docker dunglas/mercure:v0.11.1). Can not find any solutions:
* debug and demo from mercure itself seem to be false by default
* caddy log directive set to:
   log {
       level WARN
   }

Howevery, all log msg are still displayed. Debug and Info too.

What can I do?

Best regards
Sommer

[2021-04-07 05:53] JoergSommer commented on #494
Updating to v0.11.2 does not help

[2021-04-07 06:08] JoergSommer commented on #494
Problem seems to be uber.zap. NewProduction is by default INFO, NewDevelopment is by default DEBUG. You should use BasicConfiguration, I guess.

https://pkg.go.dev/go.uber.org/zap#hdr-Choosing_a_Logger

[2021-04-07 18:42] Kolvin commented on #487
Finally solved my issue!

Took me a while but after thinking about the 'DNS' flow, I started considering weird configuration at the load balancer level, especially since it was the only difference between local working dev env VS the cloud setup

Don't use [AWS WAF](https://docs.aws.amazon.com/waf/latest/developerguide/waf-rules.html) on load blancers to Mercure ecs services

I have a lot to say a

[2021-04-07 18:42] #487 closed

[2021-04-08 14:11] AmsiVolv opened #495 "Run Symfony with Mercure and apache on production;"
Hi, i have a symfony app and i'm using Mercure.

To run Mercure i use this command

`SERVER_NAME=:3000 MERCURE_PUBLISHER_JWT_KEY='something' MERCURE_SUBSCRIBER_JWT_KEY='something' CORS_ALLOWED_ORIGINS=https://my-domain.cz ALLOW_ANONYMOUS=1 ./mercure run -config Caddyfile`

- I have installed SSL certificate from Let's encrypt authority.
- My apache:

<VirtualHost *:80>
....
ProxyRequests off
    <

[2021-04-08 20:13] #438 closed

[2021-04-10 19:34] #460 closed

[2021-04-13 09:32] felix-hxz opened #496 "connection closed by the client"
Body Is there a limit to the data size

[2021-04-13 17:32] rogeriolino opened #497 "[Question] QUIC Protocol / HTTP3"
hey @dunglas,

I'm testing mercure and I'm getting QUIC ERR messages on console after a while, and after that the client stops to receive messages.

I've fixed it enabling QUIC support in my Chrome, but I'm curious about the experimental HTTP3 usage in CaddyFile:
https://github.com/dunglas/mercure/blob/main/Caddyfile#L7-L9

Is that mandatory for mercure works properly or I can switch to HTTP2?

Re

[2021-04-13 17:58] dunglas commented on #497
You can (and should in production) switch to HTTP/2. HTTP/1.1 is supported as well.

QUIC support is experimental and enabled only for browsers supporting it.

[2021-04-13 18:00] #497 closed

[2021-04-14 01:37] felix-hxz commented on #496
@dunglas @nhoizey @Jérémy DECOOL

[2021-04-14 11:15] divine commented on #494
Hello,

Related https://github.com/dunglas/mercure/issues/384 https://github.com/dunglas/mercure/issues/384

Basically, the reason is that currently, Caddy doesn't support defining global error level - the configuration file needs to be modified manually.

The good news is that the new version of Caddy which is in a beta already has it: https://github.com/caddyserver/caddy/pull/4028

Thanks!

[2021-04-14 11:24] divine commented on #484
Hello,

Here goes an example:

[code]

However, keep in mind that you need to generate correct JWT data for it also:

[code]

Thanks!

[2021-04-14 17:04] soyuka opened #498 "OpenID Connect support ?"
Would it be interesting to embed the OpenID Connect protocol within Mercure? It could be tested via Keycloak.

[2021-04-14 19:54] divine commented on #463
@dunglas 👋,

There is definitely an issue, I'm not sure if it's related to the Caddy version or the latest changes but it's still going crazy every two days. I just didn't have time to take a closer look and dump profiles again.

Caddy doesn't get killed and it just stuck until it will be restarted. There are about 2-3M notifications going on every day, so I think it's a bit heavy and might be one

[2021-04-15 12:55] #456 closed

[2021-04-18 21:11] sagikazarmark commented on #357
I'm working on a generic Caddy helm chart. It should work with mercure as well.

https://artifacthub.io/packages/helm/sagikazarmark/caddy

[2021-04-19 21:00] dunglas commented on #496
No there isn't. However, if you use a reverse proxy in front of the hub (NGINX for instance), it may enforce such limits.

[2021-04-19 21:00] #496 closed

[2021-04-21 23:53] gbrle commented on #495
Même problème :(

[2021-04-22 09:42] othmenmzeh opened #500 "Timeout with Mercure and api-platforme in production environement and https protocol"
Hello,

I use mercure with my api-plafome symfony 3.4 in docker
in local it works perfectly but when i try to use mercure with my api in production environenment i receive this error:

request.CRITICAL: Uncaught PHP Exception Symfony\Component\HttpClient\Exception\TimeoutException: "Idle timeout reached for "https://example.com/.well-known/mercure"." at /var/www/html/projet/vendor/symfony/http-cli

[2021-04-22 11:37] dunglas commented on #495
It looks like your Apache server isn't configured to proxy Mercure when using HTTPS (the `*:80` part).

Be sure that:

1. The Mercure hub uses HTTP (not HTTPS)
2. The Apache proxy uses HTTPS (not HTTP)

[2021-04-22 12:10] gbrle commented on #495
Merci pour votre réponse @dunglas :),
Mais je ne suis pas sur de bien comprendre.
Je dois désactiver mon port :80 (http) pour l'assigner à l'adress du hub mercure ?

Auriez vous un exemple de configuration apache ?

Merci beaucoup, vous me feriez gagner un temps énorme :)

[2021-04-22 13:40] dunglas commented on #495
Non, il faut configurer Apache en mode proxy pour "forwarder" les requêtes au hub Mercure (qui doit écouter sur un autre port).

Je n'ai pas de config Apache sous la main (je n'utilise que rarement ce serveur web) mais j'essaierai d'ajouter un exemple au site avec Apache dès que j'aurai un peu de temps.

[2021-04-22 15:50] torchello commented on #463
I can confirm there is a memory usage increase over time on the latest version (didn't use previous so not sure if it's just latest one or not).
![image](https://user-images.githubusercontent.com/897885/115744700-d0c9b500-a360-11eb-9a7e-c6b8c95ae2e1.png)

[2021-04-22 16:31] dunglas commented on #463
@torchello could you provide me a profile? Don't hesitate to contact me on Slack (symfony.com/slack) or by mail if you need help to create the profiles.

[2021-04-22 21:30] torchello commented on #463
@dunglas Please find all non-empty profiles attached (+ full gorouting stack dump): [debug_profiles.zip](https://github.com/dunglas/mercure/files/6361357/debug_profiles.zip).

Let me know if you need any additional info. Fingers crossed for an easy fix. I've also noticed that that memory usage growth pattern is more or less the same after every deploy:
![image](https://user-images.githubuserconten

[2021-04-23 10:54] dunglas commented on #463
Thanks for the profiles @divine and @torchello. According to them, there are two main sources of memory consumption:

1. BoltDB (we use the bbolt fork)
2. The logger (Zap), and especially the calls to `zap.Object()` when logging a subscriber

Both issues look directly related to the Mercure code base (but I'll double-check), and should probably be reported to the upstream projects.

For the record

[2021-04-23 10:59] dunglas commented on #463
Is the process crashing or is just the memory consumption increasing over time? If it doesn't crash, then it's intended:

https://github.com/etcd-io/bbolt#caveats--limitations

[2021-04-23 11:01] dunglas commented on #463
@divine's profiles are a bit different, a lot of memory is used by Prometheus. Are you using it? Maybe can you disable it if it isn't the case?

[2021-04-23 11:39] divine commented on #463
Hello @dunglas,

It's not enabled. Maybe when debug mode is enabled it comes as true by default?

Also, at the start, I had the same feeling that history is the reason for issues, so I've changed transport to disable the history:

`transport_url "local://local"`

It's crashing. However, before it didn't crash but was "stuck" (no reply to any request on caddy) when used on the same server as api-pl

[2021-04-24 12:56] divine commented on #463
I deployed yesterday the `legacy` build and was surprised that it didn't crash just yet neither the memory was increasing - it stays the same all the time.

Interesting... I would stick with the `legacy` version then. Using Mercure on the same server as API-Platform was great but the issues it was having don't make it joy at all.

I will report back if the `legacy` build will start crashing or hav

[2021-04-24 17:03] dunglas commented on #463
Thanks for the feedback @divine. When looking at the profile, I don't understand how it's related to Caddy. However, as Prometheus metrics are enabled by default with Caddy but not with the legacy build, I wonder if it cannot be the root cause. If the legacy build is stable, could you try to enable the Prometheus support for it to see if it starts crashing? Thanks!!

[2021-04-24 17:40] divine commented on #463
@dunglas you're welcome, hopefully, this will be fixed.

I thought Prometheus is disabled by default on both versions?

I have enabled metrics now and will report if it will crash.

However, after running for about 5 minutes I noticed the memory started increasing again.

At first, I've checked the metrics endpoint it was like 1 Mb response but it's currently close to 2 Mb and it's increasing:
[co

[2021-04-24 17:49] dunglas commented on #463
I think you correctly identified the program! AFAIK Prometheus is automatically enabled with Caddy.

We need to add an option to not collect metrics per topic, and probably enable this behavior by default. I'll work on this.

[2021-04-24 19:55] divine commented on #463
JFYI, after running 2 hours the metrics endpoint response is about 11 Mb and memory continues to increase:

[code]

Quite interesting that **mercure_subscribers** are kept even though that user doesn't subscribe anymore:

[code]

Hope this helps as well!

Thanks!

[2021-04-25 15:33] syntaxgirl opened #501 "Question: JWT based application, how to manage tokens and subscribers"
This is more a question if someone have some similar experience.
I have an app based on API's and angular for the frontend, while ionic is on mobile side. API is not based on the api-platform, it's just regular api based on symfony custom controllers. Authentication is based on the lexik bundle.

Now the question. My app is based on reports, but also have a chat. Right now chat is done with old aj

[2021-04-26 00:50] torchello commented on #463
@dunglas Thanks for the tips. Adding `transport_url "local://local"` directive helps to reduce the memory usage to ~60MB:
![image](https://user-images.githubusercontent.com/897885/116015590-d3016d00-a607-11eb-91bf-b2c22465a8ef.png)

[2021-04-26 16:17] torchello commented on #463
Actually, it's still growing but much slower:
![image](https://user-images.githubusercontent.com/897885/116116616-57480480-a689-11eb-9247-29d2e82365e9.png)

[2021-04-26 16:22] divine commented on #463
Hello,

Are you using the Caddy version or legacy?

If Caddy then you need explicitly disable metrics which is enabled by default:

`metrics_enabled: false`

Until a new fix will be pushed and not sure if that extra configuration would help.

Thanks!

[2021-04-26 18:09] torchello commented on #463
@divine Yes, it's Caddy version. Will try, thanks!

[2021-04-27 06:46] #463 closed

[2021-04-27 07:21] cvergne commented on #501
Hi,

From my point of view, you shouldn't have to change the token.
Please take a look at the "Subscribers" part of the "Authorization" section of the spec : https://mercure.rocks/spec#authorization

The topic selector in jwt claim should be enough with canonical/alternate topic.

But that is what I'm trying to implement too, and it doesn't work. So if a project member read this, I've [opened a di

[2021-04-27 20:21] syntaxgirl commented on #501
Yeah, but same as you, I was not able to get it to work. Maybe someone have some example?

[2021-04-27 20:51] divine opened #507 "Memory leak still an issue"
Hello,

After applying the patch https://github.com/dunglas/mercure/pull/503 Caddy again crashed in one just day.

I will report back with profiles.

Thanks!

[2021-04-27 21:05] AlexandreCln commented on #462
Hello ! I have the same problem, did anyone solve it?

[2021-04-27 21:06] divine commented on #501
Hello,

I'm suggesting generate token once for the user:

[code]

After that, if you have a personal message between two users you just post to two topics:

[code]

with data (just example):

[code]

That way both users would be able to access the private update that was sent for two users.

For e-commerce this would be a bit easier since public information wouldn't need to include path in JWT tok

[2021-04-28 03:22] divine commented on #507
Hello,

I've added a script that dumps debug profiles every 15 minutes.

Here is debug profiles:

[debug_profiles.zip](https://github.com/dunglas/mercure/files/6388809/debug_profiles.zip)

This is just in 30 minutes and memory-filled up with high CPU usage, I will add another batch of debug profiles when it will crash.

This is the Caddy version. The legacy version works fine except memory increas

[2021-04-28 07:53] dunglas commented on #507
Thanks for the new profiles! The leak related to Prometheus doesn't appear anymore. The current leak looks indeed related to the logger. I'm on it.

[2021-04-28 09:06] dunglas commented on #507
@divine could you contact me by mail (kevin - dunglas - fr) or on Slack (symfony.com/slack) please? I think that I've found something.

[2021-04-29 15:44] gia-tcm opened #510 "REACT issue"
Hello guys,

I am using react js / symfony.
And I am having a "401 issue" subscribing from my "front" even when I pass the JWT Token hard encoded.
Hope I'm not the only one, but i looked on internet and I think my code is quite similar to what others do.

[code]

I really have no idea on how to solve this.
Maybe its not an issue of yours, but any hint would be greatly appreciated.

Regards,

[2021-04-29 15:46] divine commented on #510
Hello,

Are you using polyfill (https://github.com/Yaffle/EventSource) or just plain EventSource?

Thanks!

[2021-04-29 15:48] gia-tcm commented on #510
Thx for asking,

Just plain eventSource, but even with polyfill, i do have the same issue

[2021-04-29 15:54] divine commented on #510
If you'd like to use native EventSource then you need to use cookie authorization because native EventSource doesn't support it sending additional headers.

See https://mercure.rocks/docs/spec/faq#how-to-send-the-authorization-cookie-to-the-hub-

Otherwise, using polyfill which supports defining additional headers will resolve your issue.

[code]

Also there is a react one https://github.com/jorda

[2021-04-29 16:02] gia-tcm commented on #510
Perfect !!!

it's now working fine with the polyfill.

Thank you so much!

[2021-04-29 16:04] divine commented on #510
You're welcome, you can lose this issue if everything is fine :)

Thanks!

[2021-04-29 16:04] #510 closed

[2021-04-30 07:09] garak opened #511 "Error 401"
I have an application running in production, that stopped working (unfortunately, I can't say when).
The current error I get when I try to do a POST to Mercure (using symony/http-client) is

I tried to restart service, as a wild guess. Service is currently running

     Loaded: loaded (/etc/systemd/system/mercure.service; enabled; vendor preset: enabled)
     Active: active (running) since Fri 202

[2021-04-30 08:42] garak commented on #404
Is there any change that fix can be backported to the legacy version (e.g. v0.10)?

[2021-05-02 10:40] acelaya commented on #442
I'm experiencing the same issue, but only with mercure 0.11, if I use 0.10, it works fine (I have noticed this when updating from 0.10 to 0.11).

With 0.10 I used to use `CORS_ALLOWED_ORIGINS: "*"`, but my understanding is that this is no longer allowed. I have tried to set the origins explicitly, but still doesn't work.

I serve mercure behind an nginx reverse proxy, so I have also set `USE_FORWA

[2021-05-02 12:48] dunglas commented on #442
Are you using the legacy or the caddy build? The config format pr the caddy version ins't the same as the one for the legacy hub.

[2021-05-02 14:56] acelaya commented on #442
Thanks @dunglas, it was because of that. I added the `legacy-` prefix in the image version and it works fine now.

Where can I find the documentation for the new caddy-based image?

[2021-05-02 21:31] divine commented on #507
The problem was due to debug mode enabled, everything looks great, no crash for 4 days.

Thanks!

[2021-05-02 21:31] #507 closed

[2021-05-05 13:56] martinopic opened #513 "405 Method not allowed (CORS issue?)"
Hi,

we have installed mercure version 2.3.0 listening to port 3000 and have an application running on HTTPS on the same server/same domain on port 443 using the service.

we are always getting a 405 Method not allowed for all OPTIONS preflight request from the js app to the Mercure server. Tried to configure CORS, both by setting the appropriate headers in caddy conf and adding the specific cors

[2021-05-05 15:37] #357 closed

[2021-05-06 08:27] cvergne opened #516 "Bug with canonical/alternate topics ?"
Hi,

I've previously opened [a discussion](https://github.com/dunglas/mercure/discussions/502) about that subjet,_ but as #501 also tried to make it work without success, I'm thinking about a bug or something wrong in the documentation.

As mentioned in discussion : I was trying to implements private updates with alternate topics as explained in the documentation, but without success.
So I tried e

[2021-05-06 08:44] divine commented on #516
Hello,

We're running fine with ~2M private updates each day.

Could you please share the snippet that is being sent to Mercure?

`"https://example.com/users/foo/?topic=https://example.com/books/1"`

^^ I think this doesn't look good, you might subscribing or sending updates incorrectly.

Also, have you seen my reply https://github.com/dunglas/mercure/issues/501#issuecomment-827931113?

Thanks!

[2021-05-06 11:01] cvergne commented on #516
Hi, thanks for your reply !

Well that's embarrassing, I've tried again everything to share snippet to you, and it works.
I think I got tangled with all my tests and URLs, and I think one of the topics had one missing `/`.

So I'm closing this issue, sorry for the disturbance :/

[2021-05-06 11:01] #516 closed

[2021-05-06 11:19] divine commented on #516
@cvergne you're welcome, let me know if you'll need anything else!

It took me some time to understand this too so no worries!

Thanks!

[2021-05-11 06:03] grekpg opened #520 "always return Status Code: 401 Unauthorized"
docker-compose

[code]

start
`
    docker-compose up --build`

open

`http://localhost:1337/.well-known/mercure`

[code]

Response

[code]

Same situation from app -
.env.local
[code]

JWT test give Signature Verified

`    https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdfX0.NRMv3lmIndeEbm8ylyrhhx7Y0v9EthWdaXaGLQ6-bf0
`

when i add debug:

[2021-05-11 07:46] #470 closed

[2021-05-11 15:08] divine commented on #494
Caddy's new version (2.4.0) was released, you can now define the global default logging option:

[code]

This issue might be closed now.

Thanks!

[2021-05-11 15:13] #473 closed

[2021-05-13 16:48] fire1 opened #521 "Unauthorized from legacy to caddy"
Hi!

I'm trying to switch from the legacy version to the caddy version with exactly the same JWT.
 On the legacy version was working on the caddy version only response I get is "Unauthorized "
`http.handlers.mercure   Subscriber unauthorized `
`http.handlers.mercure   Topic selectors not matched, not provided or authorization error `

Is it possible to be a wrong SSL certificate configuration?
Whe

[2021-05-13 19:09] divine commented on #521
Hello,

Unauthorized error is related to incorrect JWT settings.

Can you share your Caddy configuration?

Thanks!

[2021-05-13 19:57] fire1 commented on #521
[code]
JWT token /key copied from working legacy versions alse publisher_jwt / subscriber_jwt  are the same password

[2021-05-13 21:46] divine commented on #521
Hello,

Can you try this config? I think that you're missing encryption type and double quotes might help as well..
[code]

Thanks!

[2021-05-14 04:07] fire1 commented on #521
Tested with `"HS256"` (for  my actual JWT) and as @divine  suggested `"HS512`" as the same result

In my local dev server caddy starts fine, but in my production server need to use `SERVER_NAME=':3000'   ./mercure-caddy run -config Caddyfile` in order to start without port conflict.

Here some more log:
[code]

[2021-05-14 07:11] fire1 commented on #521
Update ...

When adding a parameter `anonymous` in Caddyfile, Mercure starts but in random cases has an infinite response (like MBs of download response )
![mercure-response](https://user-images.githubusercontent.com/1549876/118234802-87badb80-b49c-11eb-94df-d0d9427f9b7f.png)

Is this normal? @_@

[2021-05-14 14:55] divine commented on #521
Hello,

I'm still unsure why are you using ancient apache, just migrate to Caddy, it's just a joy to setup.

Apache might be not able to handle correctly proxying persistent connections.

Thanks!

[2021-05-14 16:09] fire1 commented on #521
In my current case, this is impossible, the server needs to support an older version  of the application that I'm renewing

[2021-05-15 14:45] fire1 commented on #521
Does anyone have an idea how to force disable the use of port 80 from Caddy?

[2021-05-15 15:58] oprichnik commented on #473
You can configure the defaultOptions of the Symfony http client in the dev environment like this:
[code]

[2021-05-18 06:47] fire1 commented on #521
This is caused by Chrome (&Edge) browsers, flooding the socket in order to reconnect.

[2021-05-18 08:40] martinopic commented on #513
For anybody having the same problem I could just solve it by configuring Apache web server on the same machine to proxy Mercure.

Having the application willing to use Mercure on "appdomain" (https://appdomain) and Mercure and Apache installed on the same server:

1) Load proxy module on apache:
LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
# Depends: proxy http2
LoadModu

[2021-05-20 08:26] GRUXXKi commented on #520
Exaclty the same here, no way to be authorized with the last version.

[2021-05-21 04:14] fire1 commented on #521
Problem resolved!

Apache2 / Proxy reverse with Mercure does not work in the long run.  When several Chrome / Edge browsers are connected to the socket, by clicking on some link (or some page reload) are unable to disconnect from the socket.
This may sound silly, I'll try describe it second time....
Page is loaded, OK! Evething is working fine! By clicking on some link or page reload, browser star

[2021-05-21 04:14] #521 closed

[2021-05-21 09:35] GRUXXKi opened #522 "Mercure send 401 error when JWT token contain a exp field"
I've opened an issue here https://github.com/symfony/mercure-bundle/issues/56 on the Symfony Mercure bundle also.

It appears that when the JWT token contain field like "exp" in payload , it returns a 401 error.

As it could be an interesting value, maybe it should be accepted ?

mercure-bundle 0.3 and mercure server 0.11.3.

[2021-05-21 13:56] csabavirag opened #523 "Last message ID and multiple topics"
Hi,

I have the following setup. There is App-A (written in Symfony) publishes data to 3 different topics. All the messages are private and it is not balanced how the messages are published (topic1 might get 1 message while the other 2 topics get 10's of messages)

There is App-B (web frontend) subscribes to all these topics. The role of this subscriber is to display the messages received via thes

[2021-05-25 08:15] DhiaDjobbi opened #524 "How to deploy Mercure Hub on Heroku?"
Hello guys , I am really struggling to deploy Mercure Hub on Heroku!
I made some research and I found Dunglas [Answer on StackOverflow](https://stackoverflow.com/a/57424347/12771208)
But its not clear :( !
Do I create an empty Go Project and then Copy and Paste the Binary inside it and push it to Heroku ?
and what Procfile Should I use on this case?
The go lang Default  Procfile `web: bin/go-getti

[2021-06-02 08:58] PatrykCysarz opened #525 "Can't get rid of "Connection closed""
Hi,

I have issue similiar to this one - https://github.com/dunglas/mercure/issues/464. Except timeout is occuring after ~1min most of the time, and my connection isn't reopening.
[code]

Am I doing something wrong? Here's minimal example to reproduce this:

docker-compose.yml
[code]
mercure.html:
[code]

[2021-06-02 09:14] PatrykCysarz opened #526 "Can't get rid of "Connection closed""
Hi,

I have issue similiar to this one - https://github.com/dunglas/mercure/issues/464. Except timeout is occuring after ~1min most of the time, and my connection isn't reopening.
[code]

Am I doing something wrong? Here's minimal example to reproduce this:

docker-compose.yml
[code]
mercure.html:
[code]

[2021-06-02 10:03] GRUXXKi commented on #525
Visibly, nothing wrong.

Have you tryed with the EventSourcePolyfill version ? It will be more usefull at the end ( despite the "no message since 45s ' that is quite annoying).

[2021-06-07 13:33] sagikazarmark commented on #394
Looks like go-jose v3 is just around the corner: https://github.com/go-jose/go-jose/releases

[2021-06-09 01:17] lermontex commented on #449
Apparently, it will not be possible to completely get rid of the websocket yet. In addition, the current implementation in the api platform only supports update operations.

https://github.com/api-platform/core/pull/3321
https://github.com/api-platform/core/issues/4302

[2021-06-10 12:03] ging-dev commented on #524
Hey man, i think this will help you:
https://github.com/ging-dev/mercure-heroku
You need use this buildpack to run it: https://github.com/ph3nx/heroku-binary-buildpack

[2021-06-10 12:03] ging-dev commented on #524
Hey man, i think this will help you:
https://github.com/ging-dev/mercure-heroku
You need use this buildpack to run it: https://github.com/ph3nx/heroku-binary-buildpack

[2021-06-10 14:19] PatrykCysarz commented on #525
Thank you for you response. I tried it just now, unfortunately nothing changed.

Could someone possibly use my examples to see if he can reproduce this problem? I need connection to last at least 3 minutes and right now I have no idea how to do so.

[2021-06-11 07:27] norkunas commented on #522
Possibly related to #404 ?

[2021-06-11 21:42] DhiaDjobbi commented on #524
Thank you  @ging-dev  for your answer!
I created a heroku project and used that binary buildpack using:
`heroku create mercure-dhia --buildpack https://github.com/ph3nx/heroku-binary-buildpack.git`
The content of my procfile is:
 `web: ./mercure -k "test" -c '*' -p '*' -a :$PORT -D -X `
I added Mercure files (I am using version 0.9.0) and I `git add. ` `git commit` and then `git push heroku master

[2021-06-12 10:42] ging-dev commented on #524
Ya, exactly I gave the file permission before adding it to git, I don't have that problem 😳

[2021-06-12 18:15] sagikazarmark opened #528 "Helm lint check CI workflow doesn't seem to be working"
The latest master [build](https://github.com/dunglas/mercure/actions/runs/914531593) is currently broken, because the chart version was not increased in #527.

After looking at the commits in #527 it looks like the chart linter check never ran. (It would have complained about the missing chart version increase)

As a result, the latest chart fix was never released.

I can't tell whether it's inten

[2021-06-12 18:25] dunglas commented on #528
Yes it's intentional. I wanted the chart to be released at the same time as the hub. But it's maybe a bad idea.

[2021-06-14 19:57] karser commented on #341
Updated from Mercure v0.3 to v0.11, everything went well, thanks @dunglas !
Targets are replaced with topics, it's very similar mechanics:
![image](https://user-images.githubusercontent.com/1675033/121951594-ca095e00-cd63-11eb-8c8c-f9425536b2e0.png)

[2021-06-15 08:01] GRUXXKi commented on #522
Not sure. Is'nt it fixed now  the #404 ?

[2021-06-15 08:13] norkunas commented on #522
Sorry, missed your mercure version :) Not sure then, for us everything works on v0.10 with simple exp as integer.

[2021-06-19 21:51] sagikazarmark commented on #528
Well, a chart release would be nice because a recent patch fixes a problem that currently makes mercure installation fail on most clusters where the default storage class is non-existent or doesn't work.

[2021-06-20 16:16] #484 closed

[2021-06-20 17:16] #498 closed

[2021-06-24 12:00] progmancod opened #531 "Helm unavailable (fail to download)"
helm repo add mercure https://charts.mercure.rocks
--- "mercure" has been added to your repositories

helm repo update
--- ...Successfully got an update from the "mercure" chart repository

helm install my-mercure mercure/mercure --version 0.11.3
--- Error: failed to download "mercure/mercure" (hint: running `helm repo update` may help)

[2021-06-24 13:15] progmancod commented on #531
It was the firewall

[2021-06-24 13:15] #531 closed

[2021-06-24 14:51] dunglas commented on #523
Hi!

The Mercure Hub acts as an [event store](https://en.wikipedia.org/wiki/Event_store), so you're right, IDs are global and there is no such concept as "IDs per topic".
When using the `Last-Event-ID` parameter, you have must an ID older than the older event you want to fetch.
By design, you'll retrieve all events published since the publication of this ID **and** matching the subscribed topic. B

[2021-06-24 14:51] #523 closed

[2021-06-24 14:53] dunglas commented on #522
This indeed has been fixed by #404.
By the way, we're in the process of migrating to `golang-jwt/jwt` instead of using our own fork (which is necessary just because of this issue). We're just waiting for https://github.com/golang-jwt/jwt/pull/15 to be merged.

Feel free to reopen if you still have the issue with the last version.

[2021-06-24 14:53] #522 closed

[2021-06-25 06:43] GRUXXKi commented on #522
Yes it seems alright now !

[2021-06-28 16:38] #495 closed

[2021-06-29 12:17] #500 closed

[2021-06-30 08:27] ngrie commented on #455
I am experiencing the same issue with v0.11.0. However, pinning the current v0.11.3 works. Looks like a problem with this specific version I assume.

[2021-07-03 23:03] #501 closed

[2021-07-05 19:09] dominicbvm opened #532 "Feature Request: config option to customize cookie name"
In our dev environment, we customize our hosts file so we can use the same parent domain and wildcard SSL cert that we use in production. This causes problems if we are jumping between dev and prod because they both set a wildcard cookie for the same parent domain to auth to mercure but different mercure instances. It would be nice to be able to customize the cookie name in a scenario like this so

[2021-07-05 20:45] #462 closed

[2021-07-06 08:38] #511 closed

[2021-07-06 15:32] sagikazarmark commented on #528
Any plans to release a patch version with the latest chart fix? Currently it cannot be installed with custom storage classes.

[2021-07-06 19:40] dunglas commented on #528
Yes I plan to do a release at the end of the week.

[2021-07-06 20:09] sagikazarmark commented on #528
Cool, thanks

[2021-07-08 17:32] #442 closed

[2021-07-11 22:46] dunglas commented on #528
done!

[2021-07-11 22:49] dunglas commented on #528
Reopening: the chart release doesn't seem to work.

[2021-07-15 11:23] robertodormepoco opened #535 "Missing Last-Event-Id from CORS allowedHeaders"
Hi, I'm currently having problems using a retry aware js SSE client, when it tries to catch up after a disconnection it gets a HTTP 403 during preflight due to the presence of the Last-Event-Id header in the Access-Control-Request-Headers directive (valid as of the RFC and Mercure docs)
i.e.
[code]

removing last-event-id does the job, though i was not even confident the problem was in the caddy m

[2021-07-15 14:50] v0ctor opened #536 "Cannot use the Helm repo ("error: failed to download")"
When I run the `helm install` command, I get an error:

[code]

I've done it several times before from the same machine (with the same configuration and network). Is it possible that there is a service misconfiguration? It happens since yesterday.

Thank you very much.

Note: I've previously checked #531.

[2021-07-17 21:04] #494 closed

[2021-07-18 15:07] zspine opened #537 "Docker xcaddy build fails with latest version of mercure"
Partial error log
[code]

[code]
Only happens with custom xcaddy build and docker hub version works fine!

[2021-07-18 18:26] aurelijusrozenas commented on #536
It seems the `https://charts.mercure.rocks/` url points to 404
![paveikslas](https://user-images.githubusercontent.com/3273544/126078290-144de109-7b29-40ec-8da6-f2acda59c305.png)

[2021-07-21 09:59] zspine commented on #537
Sorry this issue not relevant to mercure.... if anyone else having this problem with api platform try the following workaround:

[code]

[2021-07-21 09:59] #537 closed

[2021-07-21 12:11] townsymush commented on #394
I think this might be the option going forward https://github.com/golang-jwt/jwt

[2021-07-21 12:12] townsymush commented on #394
I think this might be the option going forward https://github.com/golang-jwt/jwt. It's a direct form from the dgrijalva/jwt-go and is now being maintained. It would probably involve a lot less commitment to switch too

[2021-07-24 15:41] #513 closed

[2021-07-25 17:52] ghostika commented on #536
I've just tried to install it, helm wants to fetch this URL:
https://github.com/dunglas/mercure/releases/download/mercure-0.12.0/mercure-0.12.0.tgz

A valid path for the release is:
https://github.com/dunglas/mercure/releases/download/helm-chart-0.12.0/mercure-0.12.0.tgz

I didn't found a way to go around this error.

[2021-07-25 21:19] dunglas commented on #536
Thanks for reporting. I think they this can only be fixed on my side. I'm in vacation until the first week of August. I'll fix this when I'll be back. In the meantime, as a temporary workaround, you can clone this repository and use the chart provided in the `charts` repository. This should work.

[2021-07-27 08:28] ekkode commented on #520
In v0.11.3 everything is ok, but we had the same issue in v0.12, the MERCURE_PUBLISHER_JWT_KEY and MERCURE_SUBSCRIBER_JWT_KEY are changed in this version?

[2021-07-27 10:07] vt-gianni opened #539 "Unable to deploy Mercure on production, using API Platform and Apache"
Hello,

I created an API on Symfony 4.4 via API Platform. In order to send notifications to my users on my mobile application made in react native, I want to use Mercure.

I already have my API in production under the following domain name: https://api.mywebsite.fr

So now I would like to configure Mercure in production but I cannot manage it despite a lot of research.

Here is my configuration in

[2021-07-27 14:32] Priyank780 opened #540 "Mercure 0.12 metrics api config option"
Can someone help me to configure the metrics api with the Docker configuration file. I have a docker-compose.yml file like,

mercure:
    image: dunglas/mercure:v0.12
    environment:
      MERCURE_EXTRA_DIRECTIVES: |
        heartbeat 40s
        cors_origins *
        admin 0.0.0.0:2019 {
            metrics /metrics
        }

I tried directly adding `metrics /metrics` line in MERCURE_EXTRA_DIR

[2021-07-27 23:06] dunglas commented on #539
Do you also get a 404 when trying to query the hub directly (form the server, by running something like `curl -v http://localhost:300/.well-known/mercure`?

If it's not the case, it's probably Apache that is misconfigured.

What do you have in the logs (both Mercure and Apache logs)?

[2021-07-27 23:13] dunglas commented on #540
Hi, this doesn't look related to Mercure but to Caddy directly (Mercure just adds its metrics to the endpoint provided by Caddy).

According to the docs, what you try doesn't look currently possible:

https://caddyserver.com/docs/caddyfile/directives/metrics

Maybe should you try to ask on Caddy's forum if changing the default URL doesn't work for you.

[2021-07-28 08:25] vt-gianni commented on #539
Hello Dunglas and thank you very much for your response.

I started a curl from the server on http://localhost:3000/.well-known/mercure and indeed I don't have the same error, I get a 401 Unauthorized error:

[code]

I looked in my apache logs and the only traces I have when I try to contact the server from my browser are in the /var/log/apache2/other_vhosts_access.log file and I get simple 404 lo

[2021-07-28 15:03] dunglas commented on #539
According to your logs, the hub is working properly (the authentication error is expected) but Apache forwards the URL `/.well -known/mercure` to `/` (instead of `/.well -known/mercure`). It's the problem, you should fix your Apache config).

[2021-07-28 20:08] #535 closed

[2021-07-28 20:09] robertodormepoco commented on #535
fixed in #538

[2021-07-29 06:05] MateuszGrzy opened #541 "CORS error in Symfony CLI Mercure server"
Hello,
I have a problem with CORS in my environment. I got Symfony app running on localhost:8000 and I have a vue app running on localhost:8080 port. Mercure is configured well because on Symfony app its responding and I can subscribe to topic but when I try to do same - adding below script in console
[code]
I got an error
[code]

How can I add "CORS_ALLOWED_ORIGINS=https://localhost:8080" in symf

[2021-07-29 08:10] VadimBondarenko opened #542 "Reconnection problem. Long time connect."
I have a problem with the Mercure when it connects. Waiting time can be from 10 to 30 minutes. That problem occurs when I run it on the supervisor. If I run Mercure from the console, all is fine.
When I do not push messages in the hub, it works fine and reconnects to be fast.

First connection.
![mercure_first_connection](https://user-images.githubusercontent.com/37088708/127447736-dbea4751-3ead-4

[2021-07-29 08:15] VadimBondarenko commented on #541
You can run Mercure with config file ./mercure run -config Caddyfile. In file set cors_origins and publish_origins.
example
[code]

[2021-07-29 08:52] MateuszGrzy commented on #541
@VadimBondarenko I'm not using mercury binary file with caddy server but symfony binary with build-in mercury server in it. Tried with Caddy server but it not working well on windows

[2021-07-29 09:00] vt-gianni commented on #539
It was indeed an apache configuration problem, thanks.
I can now listen from postman at: https://hub.mywebsite.fr/.well-known/mercure?topic=https://api.mywebsite.fr/users/1

Unfortunately I am not receiving anything when I perform a PUT on https://api.mywebsite.fr/users/1 while Mercure is still listening. Here are my mercury logs:
[code]

Here is my Caddyfile:

[code]

[2021-07-29 16:22] martinopic commented on #513
I don't think this issue should be closed as it addresses the problem of installing a Mercure hub on the same server where an application is installed I think it could be a pretty common case for small applications.

[2021-07-29 16:33] si14 commented on #494
@dunglas the latest Mercure release (0.12.0) is still based on pre-2.4.0 Caddy. Do you think it might be updated at some point?

[2021-07-29 19:11] dunglas commented on #494
Yes it will when I'll tag a new version. In the meantime you can build from sources using `xcaddy` if needed.

[2021-07-30 08:36] vt-gianni commented on #539
Very strange, in the mercure logs I can see that the Bearer Token is not the one I specified. By copying it and testing it on https://jwt.io, it looks like it added an "exp" field with a float number, invalidating the signature. How to remove it or force an integer cast?

[2021-07-30 08:44] zspine commented on #539
@vt-gianni I had the same issue with an older version of mercure, ensure you're running the latest version of mercure (mercure:v0.12)

[2021-07-30 08:49] vt-gianni commented on #539
Thank you @zspine  but I have the current version. :\

![screen_jwt](https://user-images.githubusercontent.com/64596139/127627642-1ef22911-557f-4f45-a79f-b7bf87df8d72.png)

By directly pasting the jwt token in https://jwt.io, I have an invalid signature.

But when I remove the last digit after the comma from the "exp" field, and put it back, I no longer have the invalid signature error on the site

[2021-07-30 09:05] zspine commented on #539
@vt-gianni I see... It took some time for me to get it to work on the production and development setups. I followed this pure PHP example to make debugging easier.

https://github.com/dunglas/mercure/blob/main/examples/publish/php.php

[2021-07-30 09:08] divine commented on #539
I'm still unsure why somebody would still use ancient Apache which doesn't perform well.

[2021-08-02 11:12] dunglas commented on #404
@garak use the "legacy" build that we provide for newer versions. It contains the fix and is compatible with the legacy configuration.

[2021-08-02 13:43] vt-gianni commented on #539
Hello, thank you all for your help. I was able to solve the problem.

I had misunderstood and thought that MERCURE_JWT_SECRET could replace MERCURE_PUBLISHER_JWT_KEY and MERCURE_SUBSCRIBER_JWT_KEY to only use one secret key for both the subscriber and the publisher.

By adding these two environment variables with different keys, I was finally able to make mercure work.

[2021-08-02 13:43] #539 closed

[2021-08-02 13:53] vt-gianni opened #543 "How to subscribe to related entities?"
Hello,

I wanted to know if it was possible to subscribe to related entities.

Let me explain.

I can listen to the routes /api/users/myUserId (for example /api/users/1) and /api/users/messages/{id} (to know when a message is sent to my user)

The owner field of my Message entity being an IRI directly to my user, there is no problem.

However, I would like to know if I could do the same on the /ap

[2021-08-03 07:53] zspine commented on #543
Hi

If you are using [API Platform](https://api-platform.com/docs/core/mercure/#dispatching-private-updates-authorized-mode) you can generate the options dynamically...

[code]

[2021-08-03 16:17] dunglas commented on #536
Fixed!

[2021-08-03 16:17] #536 closed

[2021-08-03 16:17] #540 closed

[2021-08-03 16:17] dunglas commented on #528
Fixed!

[2021-08-03 16:17] #528 closed

[2021-08-04 07:52] v0ctor commented on #536
Thank you very much! 🙂

[2021-08-04 08:26] VadimBondarenko commented on #542
I solved this problem. The problem was a big base.  I set cleanup_frequency 0.5.

[2021-08-04 08:26] #542 closed

[2021-08-04 19:20] si14 opened #546 "Use of x-forwarder-for and metadata in "New subscriber" logs"
First of all, thanks for this awesome piece of software!

We've deployed the latest Mercure and it works great. However, there are two tiny ops snags in its logging as you can see on the screenshot:

<img width="508" alt="Screenshot 2021-08-04 at 20 14 57" src="https://user-images.githubusercontent.com/316910/128241367-abc16c5d-efb0-4398-ab7a-04c51005267f.png">

Firstly, it uses IP of our LB, not

[2021-08-16 21:18] #525 closed

[2021-08-18 14:00] #524 closed

[2021-08-18 18:55] alexander-schoch-linuxdays opened #548 "[Symfony] Can't get mercure to work"
I am trying to set up mercure with symfony, but no matter what i change, it always results in "Failed to send an update." ("MERCUR Topic selectors not matched, not provided or authorization error" in the Server logs).

I installed mercure via "composer req mercure" and start the server via "symfony server:run --allow-http", as dunglas/mercure#485 states that https will lead to problems. I also tri

[2021-08-18 22:42] dunglas commented on #548
The key used to sign the JWT must be `!ChangeMe!` if you use the Symfony binary. That's probably the issue.
And using https is totally supported now.

[2021-08-19 07:59] alexander-schoch-linuxdays commented on #548
@dunglas Thanks for your fast answer!

This did fix the problem, however only for localhost itself. If I now try to visit this route from a machine in the same network, I still get the "failed to send an update" error, while the server logs don't even show the "started mercure" line.

Ennvironment variables now:

[code]

[2021-08-19 18:25] garcia-anthony opened #549 "Symfony 5.3 / Mercure - Problem production"
Hello, I am having a problem in production with mercure. I work with Symfony 5 and mercure-bundle 0.3.2. The app works fine locally.
On the production server, I installed downloaded the executable mercury but the configuations do not work ...

The .env file :

`MERCURE_URL=http://localhost:3000/.well-known/mercure
MERCURE_PUBLIC_URL=https://hub.mywebsite.fr:3000/.well-known/mercure
MERCURE_JWT_SEC

[2021-08-20 07:31] alexander-schoch-linuxdays commented on #548
Update: If I enter the signed key via

[code]

it does not work. I get a 401, which is an indication that the key does not work. What do i do wrong? The only thing i did is to go to https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdfX0.iHLdpAEjX4BqCsHJEegxRmO-Y6sMxXwNATrQyRNt3GY (linked by symfony mercure wiki page) and enter `!ChangeMe!` as

[2021-08-20 08:00] zspine commented on #548
@alexander-schoch-linuxdays can you try this [pure php example](https://github.com/dunglas/mercure/blob/main/examples/publish/php.php) without any symfony dependencies and configuration?

I had similar problems until I figured out how to handle everything. So if we can confirm that 'mercure hub' configuration is correct  without relying on any other dependencies, it will be a little easier to debu

[2021-08-20 10:25] alexander-schoch-linuxdays commented on #548
@zspine After running the following commands

[code]

,putting this minimal file into `public/php.php` and calling `localhost:8000/php.php`, I get

`PHP Warning:  file_get_contents(https://localhost/.well-known/mercure): failed to open stream: Connection refused in /home/alexander_schoch/Documents/php/Symfony/mercure/public/php.php on line 13`

[2021-08-20 12:24] zspine commented on #548
@alexander-schoch-linuxdays Okay, so it works ok with localhost but not with another machine on the same network. I'm guessing it has something to do with cors_origins or one of the other options. Unfortunately, I am unfamiliar with the Mercure Symfony binary version and am unsure whether or not the settings can be checked.

Sorry for not being more helpful.

[2021-08-20 12:51] cybervoid commented on #548
@alexander-schoch-linuxdays I have it running with `symfony 5.3` both local and in a server, my local copy runs under https with symfony's binary.
During my setup I got a lot of "Failed to send an update.", you have to find in mercure's logs the reason why it failed, in my case, I had some issues with the env variables on symfony, and then later when deployed to a server got the same error and thi

[2021-08-20 14:45] alexander-schoch-linuxdays commented on #548
@cybervoid By "mercure logs", you do mean the output of `symfony server:start` with the very minimal output you get from mercure, right? There, I just see `MERCUR Topic selectors not matched, not provided or authorization error`.

It is well possible that this is a CORS problem. However, when trying to start mercure via the mercure.rocks binary and `JWT_KEY=!ChangeMe! ADDR=http://localhost:3000 AL

[2021-08-20 18:18] cybervoid commented on #548
@alexander-schoch-linuxdays  for development I run mercure, the binary downloaded locally and I run it with the following parameters:

[code]
Once you do that from the console, you'll be able to see mercure logs within the same console window you used to run it.

To rule out CORS issues, maybe check from chrome dev tools directly, it will complain about it too if that's the actual problem, I repli

[2021-08-21 14:14] dunglas commented on #548
It looks like you use both `https://127.0.0.1` and `https://localhost`. They aren't the same domain! Be sure to use the same domaine everywhere.

[2021-08-24 09:00] #394 closed

[2021-08-25 08:22] alexander-schoch-linuxdays commented on #548
Because literally nothing was working, I tried to push the project onto another machine, and it did work out of the box. Thus, something with the configuration of my operating system was wrong, but I have no idea what i could be.

Thanks everyone for helping me.

[2021-08-25 08:22] #548 closed

[2021-08-27 09:58] NaharD opened #553 "anonymous subscription without {id}"
I like anonymous subscription by private token in topic, like http://site.com/topic/JHgjh4jh3w4j3rhevfje4333
But http://site.com/topic/{id} subscribes you to all private topics
Is it possible disable {id}, to dont use jwt?

[2021-08-30 15:13] neoel commented on #442
This seems still broken, using this config with the docker container.

[code]

[2021-08-30 15:14] neoel opened #556 "is CORS broken?"
Trying to setup mercure with cors, but I can't seem to get it to work.

Think it's been like that for a while, since #442 has been closed with wontfix by a stale bot we'd have to keep opening issues? or get some understanding in the issue

Using this caddyfile with the docker image:
[code]

[2021-08-30 16:32] dunglas commented on #556
Can you post the exact error you get in the browser, the URL of the frontend app and the JS code please?

Also, I created a repo to test the various CORS-related issues: https://github.com/dunglas/mercure-reproducer-cors

Could you try to open a PR on this repo to add a reproducer?

Currently, all reported problems were config problems, not bugs in Mercure.

[2021-08-30 18:00] neoel commented on #556
I "fixed" the issue by adding the headers in the Caddyfile:

inside the route config (not really familiar with caddy)
[code]
which works.

In the browser (firefox 91) I'm getting the generic unhelpful cors error.

![image](https://user-images.githubusercontent.com/1440704/131383567-32128d4d-1329-4bc0-9328-09a83e0ca966.png)

The frontend url is "votes.wolbodo", which I'm running locally, so it does

[2021-08-30 18:12] neoel commented on #556
I see different behaviour on my docker-compose file vs your test setup:

My setup:
[code]

Your setup:
[code]

[2021-08-30 18:57] dunglas commented on #556
There is already a main issue: your tests domains are not sharing the same domain or subdomain. This will prevent the host to work.

Can you try with `mercure.votes.wolbodo` and `votes.wolbodo` to see if the issue persists?
Not using HTTPS can indeed also cause issues in some cases.

[2021-08-30 19:07] neoel commented on #556
But that shouldn't make the cors fail right? I should be able to have domain-x.com be allowed by mercure on domainy.com

[2021-08-30 21:06] dunglas commented on #556
I noticed the problem. There is an extra / in the allowed origin in your config.

`cors_origins http://votes.wolbodo/` should be `cors_origins http://votes.wolbodo`. And this fixes the issue according to my testing.

P.S: HTTP 2 works only (at least in browsers) if the connection is encrypted so it's normal, but it's not related here, the CORS library we use (https://github.com/gorilla/handlers) s

[2021-08-31 19:15] axwell commented on #283
@helllicht i have added a dockerfile with the latest mercure and your instructions but container fails with "exit 0", does anyone have any luck in running this on pi 3 / 4 with docker ? tks.

[2021-09-02 10:39] alexander-schoch-linuxdays opened #557 "configuration on production without docker"
I have a symfony application in production, which runs directly via the apache web server (not the symfony binary), as this allows for VirtualHost configuration. The tool is reachable under https://jukebox.aschoch.ch.

The configuration for mercure works for the backend with those environment variables:

[code]

I see in the log that some updates are published. Now, I run into an issue with the ja

[2021-09-03 03:28] divine opened #558 "[leak] High CPU usage with a lot of subscribers"
Hello,

This issue has been created to track down the problem that I'm having with Mercure:

Mercure uses almost %100 CPU, doesn't matter what specs you've.

The reason is probably a lot of subscribers and updates published to them:

[code]

This is just for 2 days, this is a reduced amount, normally it's up to x4 of updates that are currently disabled.

Here is debug profile of CPU:
[code]
[pprof

[2021-09-03 07:02] dunglas commented on #558
Note: as discussed privately and shown in the second profile, disabling the presence API helps a bit.

I'm not sure of what we can optimize here. I double-checked that we don't loop over a closed chan (which eats CPU because a closed chan doesn't block), but I cannot find a pattern like this. `CanDispatch()` can probably be optimized a bit, but otherwise I don't see what can cause the issue here.

[2021-09-03 09:32] dunglas commented on #558
I wonder if it's just not the intended behavior. You have many subscribers and updates are following at a huge rate. Every time an update is received, the server must loop over all subscribers to dispatch it, and check if the subscriber is authorized to receive this update. This operation will always eat CPU.

I wonder if the solution isn't just to keep the number of subscribers lower by splitting

[2021-09-03 14:13] TheoD02 commented on #556
Hi I had the same problem,

Problem was i using 80 port instead of 8000

Here is my configuration you test with it

NGINX (port 80) :

[code]

Caddy configuration
[code]

JS Event
[code]

PHP Send
[code]

[2021-09-03 15:25] #549 closed

[2021-09-04 10:01] dunglas commented on #532
This will also allow to create different security contexts on the same domain.

I plan to add this feature to the spec and to implement it in the hub.

[2021-09-04 14:43] TheoD02 opened #559 "How to disable SSL with symfony mercure ?"
Hey,

I'm stuck with the SSL certificate, during an update the http_client of symfony redirects me from http to https.

Via mercure we use SERVER_NAME:80 how to configure it directly for use with symfony CLI?

Thanks !

[2021-09-05 04:26] kevburnsjr commented on #558
`nextUpdate` doesn't block. It always returns nil.
This means your program is pushing nil into the `outChan` on every cycle of the for loop.
Sleeping for 1 second when both buffers are empty should eliminate your 100% CPU problem.

[code]

Removing those buffers and using buffered channels instead could eliminate the sleep.

Also, truncating the first item of a slice causes the entire slice to be

[2021-09-05 12:37] divine commented on #558
Hello @kevburnsjr,

I have applied your suggested changes but looks like I made somewhere an error, could you please help as I don't understand GO well and still learning?

This doesn't send currently notifications and test is failing:

[code]

Here is the git diff:
[code]

Thanks!

[2021-09-05 19:18] kevburnsjr commented on #558
Very close. The tests are failing because the front element is being removed twice.
Removing all the code in the case statement should fix the problem.
[code]

[2021-09-06 08:40] divine commented on #558
Hello @kevburnsjr,

Thank you for your clarification and help.

Sorry about asking you again but still an issue even after removing that line:

[code]

git diff:

[code]

Thanks!

[2021-09-06 09:03] darthShadow commented on #558
The problem looks to be in the `nextUpdate()` function, if I am not wrong.

Earlier, it was simply returning the first element via `return s.history.buffer[0]` or `return s.live.buffer[0]`.

These have now been changed to `list.Remove` calls, which seems wrong.

`return s.history.buffer.Remove(s.live.buffer.Front()).(*Update)` should instead be `return s.history.buffer.Front().Value.(*Update)`.

N

[2021-09-06 10:15] egonelbre commented on #558
@kevburnsjr linked list is almost always worse choice than a slice, especially for small items. Neither append nor slicing an existing slice is O(n) -- append is O(n) in the worst-case and O(1), with few ns in the common case. Slicing a slice is always O(1). I've seen 2x and more speedups from replacing a `list.List` with a slice. If you don't believe, then write a benchmark. AFAIR, list.List beco

[2021-09-06 19:04] kevburnsjr commented on #558
@egonelbre is right. I was mistaken.
https://gist.github.com/kevburnsjr/1ed973e6b1fd332c5c38d108abce142b

[2021-09-06 19:17] divine commented on #558
Thank you for the test, I've added the [deque](https://github.com/gammazero/deque) package, looks much better, what do you think guys?

https://gist.github.com/divine/8779e10fcbb3c77123795f41811fef71

Thanks!

[2021-09-06 19:26] egonelbre commented on #558
@divine if you specialize the deque package for a particular item, it will be faster.

[2021-09-11 13:05] divine commented on #558
Hello,

Having tested in a production, I can say for sure slices are much faster and the benchmark that I wrote shows exactly the same thing:

without the deque:
[code]
with the deque:
[code]

So basically, the issue isn't related to slices, it's somewhere else...

Thanks!

[2021-09-11 18:13] dunglas commented on #558
Thanks for having investigated @divine!

[2021-09-12 09:28] kevburnsjr commented on #558
I felt bad today about wasting your time with bad advice (`container/list`). So rather than working on my other side project today, I spent the day whipping up a 6 dimensional bench test against the subscriber.

Draft PR: https://github.com/kevburnsjr/mercure/pull/1
Branch: https://github.com/kevburnsjr/mercure/tree/subscriber-performance
Results: [results.txt](https://gist.githubusercontent.com/k

[2021-09-12 15:26] kevburnsjr commented on #558
Just pushed a few more updates (fixed build issues caused by new cli params).

[2021-09-12 23:34] divine commented on #558
Hello,

I just wanted to say thank you to all of you and personally @kevburnsjr for fixing the problem.

@kevburnsjr your draft PR indeed fixes the problem I was having, pushed to prod on Sunday - works well and **amazingly fast** with only %8-%10 of CPU usage!

I have just replied in your draft PR with a small issue about local transport, otherwise looks great!

Thanks!

[2021-09-13 00:40] kevburnsjr commented on #558
@divine Glad to hear it! Would love to see any graphs if you've got 'em. I do it for the graphs.

@dunglas This new optimized code path is presently exposed as:
- 2 optional runtime flags in Go
    - `-yolo` enables performance experiment for topic selector store cache (default false)
    - `-tcsz` size of each shard in topic selector store cache (default 10,000)
- 1 optional config parameter in C

[2021-09-13 01:35] divine commented on #558
Yup, I have posted them in your draft PR as well it here:
![image](https://user-images.githubusercontent.com/48183131/133010591-147d2113-ae6a-4759-8a18-461c866447a8.png)

We've talked privately with @dunglas and he came to the conclusion I'm the probably only one of those big users who is running a few million notifications per day on this open-source version.

Having a high amount of notification

[2021-09-14 10:33] indjeto commented on #231
I still experience the issue with the latest version. I'm using  mercure_0.12.2_Linux_x86_64.tar.gz on Ubuntu 20.04.3 LTS.
It's very annoying. @dunglas is it going to be fixed or need to setup something?

[2021-09-14 10:34] dunglas commented on #231
It's most likely a configuration problem.

Can you open a new issue and copy your config as well as the logs and the errors you get please?

[2021-09-16 12:35] Lustmored commented on #559
I have just spent a few hours debugging it. In the end you only need one directive - `auto_https off`. My full docker-compose example:

[code]

[2021-09-17 10:55] dunglas commented on #387
I just opened a PR to add support for this to the spec, could you review please? https://github.com/dunglas/mercure/pull/562

[2021-09-17 10:56] dunglas commented on #532
I opened a proposal to add support for this feature to the spec. Could you review it to check if it fixes this issue please? https://github.com/dunglas/mercure/pull/562

[2021-09-17 11:51] dominicbvm commented on #532
Yeah, reading through the spec changes around the cookie name, this should definitely solve the scenario we are running into. Thanks!

[2021-09-20 16:09] damijank commented on #387
Seems legit, as you have proposed, the hubs `*MAY*` support the _query parameters_ method.

Also, I've had an idea while reviewing these changes: _How about alowing the **subscriber** to specify which cookie is to be used for authentication?_ Im gonna quote a portion of the initial comment:

This is only true if _only one specific_ cookie is used for authentication of subscribers.

If the subscrib

[2021-09-20 18:07] divine commented on #387
Hello,

Query parameter authentication was requested (by me as well) only because of the lack of native support for authentication headers in SSE.

That's why we're using **event-source-polyfill** which has some random issues (timeouts and etc) and it's not native overall.

Do you have any example specs that do the same thing?

For me specifying cookie name in query parameters doesn't make sense.

[2021-09-20 19:18] damijank commented on #387
Hey,

no, I have no specs nor implementations of such behaviour. As said, i've had the idea just when I was reading through the PR where a `cookie-name` parameter (although in the `Link` header) has been [added for publishers](https://github.com/dunglas/mercure/pull/562/files#diff-b318e5315d37ce09827dfcaae1420b839c8dc2bfc144970b9456b420e54a9819R93).

Agreed, it would be a highly uncommon practice

[2021-09-25 12:55] lauretCoding opened #564 "One sse per session"
Hello,
Is there a way to have just one eventsource if we have multiple tabs?

[2021-09-26 07:58] dunglas commented on #564
It's possible to use JS tricks to achieve this, like this one: https://developer.mozilla.org/en-US/docs/Web/API/BroadcastChannel

You can also use use localStorage, postMessage, and all other ways allowing to synchronize data structures between tabs.

[2021-09-26 10:50] lauretCoding commented on #564
Ok thanks. I will try that

[2021-09-26 10:50] #564 closed

[2021-09-27 19:29] YasrAnwar opened #565 "SSL peer certificate or SSH remote key was not OK for "https://localhost:3000/.well-known/mercure" on windos"
I use static binary that hub runs on https://localhost:3000/.well-known/mercure and downloaded as a static binary from Mercure.rocks.

[2021-09-28 09:39] Kern046 commented on #556
Hi same problem here.

I made a [reproducer](https://github.com/Kern046/mercure-cors-reproducer) (my first one :grimacing: ).

I tried multiple values for the `CORS_ALLOWED_ORIGINS` environment variable as I saw it used in other issues and SO threads despite that I can't see it use in the Mercure Caddyfile :shrug: ).
I also tried the `MERCURE_EXTRA_DIRECTIVE` as @TheoD02 suggested but I fail to en

[2021-09-29 20:28] #565 closed

[2021-10-02 13:26] #520 closed

[2021-10-04 20:08] #541 closed

[2021-10-09 18:49] FlorianLeMenn opened #566 "CORS policy: No 'Access-Control-Allow-Origin'"
Trying to setup mercure with cors, but I can't seem to get it to work.

Think it's been like that for a while, since #442 has been closed with wontfix by a stale bot we'd have to keep opening issues? or get some understanding in the issue

I made a POC to use Mercure & Symfony 5 with all configurations from Mercure documentation for Windows : https://github.com/FlorianLeMenn/Symfony-chat-mercure-p

[2021-10-10 08:18] dunglas commented on #566
An you paste the command you use to start your web server? If you are using Symfony CLI, it starts a server on the `127.0.0.1` host, which not the same as `localhost`. So you need to update your Mercure configuration accordingly.

[2021-10-10 10:41] dunglas commented on #566
It's `MERCURE_EXTRA_DIRECTIVES`, not `EXTRA_DIRECTIVES`. Can you try that?

[2021-10-10 13:27] FlorianLeMenn commented on #566
I try it, same result

![cmd_2021-10-10_15-26-32](https://user-images.githubusercontent.com/4291551/136697760-e675bdf9-89b5-471e-86de-fda5a18cd288.png)

`Access to resource at 'http://localhost:3000/.well-known/mercure?topic=%2Fmessages%2F%7Bid%7D&topic=%2Fping%2F%7Bid%7D' from origin 'http://localhost:8000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the

[2021-10-10 17:30] dunglas commented on #566
With https://github.com/FlorianLeMenn/Symfony-chat-mercure-poc/pull/1 and the following command (on Unix, I don't have a Windows computer), I don't get any CORS error.

`SERVER_NAME='localhost:3000' MERCURE_PUBLISHER_JWT_KEY='!ChangeMe!' MERCURE_SUBSCRIBER_JWT_KEY='!ChangeMe!' MERCURE_EXTRA_DIRECTIVES='cors_origins http://localhost:8000' ./mercure run`

Be sure to visit `https://localhost:3000` in

[2021-10-12 11:32] #566 closed

[2021-10-12 18:42] danielspk commented on #556
Same issue with docker.

Docker command:

[code]

Publish work!, but...

Javascript code subscriber in http://localhost:3001

[code]

Error in console:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://localhost/.well-known/mercure?topic=https%3A%2F%2Fdemo.com%2Fscan%2F%7Buuid%7D. (Reason: CORS request did not succeed).

[2021-10-12 19:57] dunglas commented on #556
@danielspk I just used the following commands in it works properly (no CORS error, the excepted 401):

[code]

The content of my `index.html` file:

[code]

Be sure that:

1. you use the latest version (run `docker pull dunglas/mercure`
2. you accepted the self-signed certificate by visiting the URL of the hub directly in your browser

Generally speaking, it's sure that this feature works properly

[2021-10-12 20:11] dunglas commented on #556
@Kern046 issue is (at least) because the hub is configured to use HTTP (`SERVER_NAME: :80`) but the EventSource subscribers to `https://127.0.0.1/.well-known/mercure` (extra s). Also, be careful if you use HTTPS, you **must** use the domain name `localhost` then, not the IP address. To use the IP address (not recommended), you must modify the `Caddyfile` to add extra unsafe options: https://caddy.

[2021-10-14 13:36] jochemh opened #572 "Unraid Docker with reverse proxy"
Dear,

I'm trying to get mercure hub running on my unraid server and reverse proxy with 'Swag' (Lets Encrypt).
In the past this did work however after a reinstall I lost the previous config and now its not working anymore.

I've installed "dunglas/mercure" hub with the following launch command

`root@localhost:# /usr/local/emhttp/plugins/dynamix.docker.manager/scripts/docker run -d --name='mercure

[2021-10-14 15:10] #572 closed, assigned to nobody

[2021-10-18 12:04] kayzere opened #573 "Error using mecure on symfony project for https with apache (with docker)"
Hello ^^,
EN
i m facing some probleme in mercure trying to push my projet in production. in http all work good but in https no
so i show you all file can help you to understand my probleme to solve it.
FR
Je suis confronté à un problème sur mercure en essayant de deployer mon projet en production.  En http tout fonctionne bien mais en https non. Je vous montre tous les fichiers qui peuvent vous ai

[2021-10-25 18:45] #573 closed, assigned to nobody

[2021-10-27 08:05] FlorianLeMenn opened #575 "Send update with differents types not found by eventSource.onmessage"
Hello, I try to understand how to use multi-update types.
I create two types of update with optional parameter SSE's event property, "message" and "ping" like that :

## My JWT payload :
``
{
  "mercure": {
    "subscribe": [
      "/messages/25",
      "/messages/26",
      "/ping/{id}"
    ],
    "publish": [
      "/messages/25",
      "/messages/26",
      "/ping/{id}"
    ]
  }
}
``

## Messa

[2021-10-31 18:01] acelaya commented on #556
I see many people reporting CORS-related issues here, but I don't see a clear solution other than some typos here and there, so sorry if this was actually solved already and I'm just repeating the same.

The thing is that for me it works with the legacy server, but not the caddy one.

If I use a docker container with docker-compose like this, it works:

[code]

But if I use the non-legacy image, l

[2021-10-31 18:17] acelaya commented on #556
Ok, just found out what was missing for me. Since I'm accessing mercure without https, I needed to add this env var `SERVER_NAME: ":80"`

[2021-10-31 18:54] acelaya commented on #556
I'm actually reading the `Redirect is not allowed for a preflight request.` part of the error, and I'm starting to think that mercure is trying to return a redirect from http to https for the preflight request (`OPTIONS`), causing many of the CORS errors posted here or in #442.

That would explain why it started to work for me once I disabled https.

[2021-10-31 19:14] dunglas commented on #556
Good catch @acelaya! Indeed the default Caddy behavior (which is a good one IMHO) is to forward everything from HTTP to HTTPS if HTTPS is enabled. Maybe should we make this bold in our own docs.

[2021-10-31 19:23] acelaya commented on #556
The problem is that, according to the spec, the preflight request should not result in a redirect. That's why the browser is throwing that error.

See https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSExternalRedirectNotAllowed

[2021-10-31 20:05] dunglas commented on #556
@acelaya The error is intended. It can only occur when there is a misconfiguration. If HTTPS is enabled, then HTTPS must be used (actually, according to the Mercure spec, HTTPS must always be used).

[2021-10-31 20:06] acelaya commented on #556
Got it.

Then yeah, documenting it somewhere should be enough.

[2021-11-02 13:42] mariuseliassen opened #579 "Mercure publishes to topic JWT token should not be allowed to"
### Mercure version: `0.13`

Without the "private" flag on messages are being sent to subscriber even if topic is not in subscriber or publish allowed whitelist.

![image](https://user-images.githubusercontent.com/1819272/139858288-6213ceb0-43dd-499f-bdff-86cc2c7b0dc2.png)

Token:
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiL3dvcmtzcGFjZXMvMTIzIl0sInN1YnNjcmliZSI6WyIvd29y

[2021-11-02 14:16] dunglas commented on #579
This is the intended behavior (as described in the spec). It's why there is the `private` flag: to distinguish between public and private updates.

[2021-11-02 14:20] mariuseliassen commented on #579
@dunglas Ok thanks for your quick reply.

Can you suggest how to implement private publishing topics for client-to-client behavior or if this has to be done through a backend proxy service?

[2021-11-02 15:20] dunglas commented on #579
I'm not sure to follow. Clients' code can set the `publish` flag to true too.

[2021-11-02 18:40] mariuseliassen commented on #579
@dunglas We are generating the JWT tokens server side with a passphrase. My understanding is that this JWT token is validated inside mercure and thus the client's are not able to modify the JWT to set publish to whatever they want.

Is it possible to request that we can control this private behavior with configuration?

https://github.com/dunglas/mercure/blob/main/publish.go#L49

We would like to

[2021-11-02 23:05] dunglas commented on #579
Good idea to add a configuration option to only allow private updates. +1 on my side. This would also prevent mistake from programmers forgetting to set the flag.

Still, I fail to understand the use case. Nothing can prevent a client to share the data it owns with another user (using another channel than Mercure if necessary). And in could any harm himself by doing so, as it already has the data.

[2021-11-02 23:18] mariuseliassen commented on #579
Our use case is pretty simple.

We have a mercure we use as a ping service to show online state. A logged in account can send pings to other accounts on the same workspace through javascript (frontend). JWT's for mercure are produced by backend on page load. As such we would produce a jwt for the account `A` as follows:

[code]

Now assume that a we have another account `B` with the following JWT

[2021-11-03 03:34] #553 closed

[2021-11-04 19:47] FlorianLeMenn commented on #575
Thanks for reply ! I keep refining my understanding ;)

[code]

[2021-11-06 15:10] samijnih commented on #524
@ging-dev @DhiaDjobbi Hi guys

Which version of mercure bin do you use?
I'm using the latest one and there's no way to specify options. I can only do "mercure run -config <caddyfile>".

So I assume that Mercure must be run with Caddy on Heroku now?

Thanks for your help

[2021-11-06 15:17] ging-dev commented on #524
Hi, you can choose `legacy linux x86_64` version to run on Heroku, they don't need Candy server

https://github.com/dunglas/mercure/releases

[2021-11-07 14:18] samijnih commented on #524
Thank you!

[2021-11-08 18:20] #557 closed

[2021-11-15 00:34] tebaly opened #585 "extraDirectives helm example"
https://github.com/dunglas/mercure/blob/0a7e80ea28aa23cf2174dcb2b90b04a3632c072f/charts/mercure/values.yaml#L12

please, show example for

[code]

[2021-11-15 01:54] Lenny4 opened #586 "Mercure spam events when client reconnect with "last_event_id" !== """
Hello,

I had a very hard time to find out how to reproduce this bug. I'll try to explain it the best way I can.

Mercure version: 0.3.3
Symfony version: 5.3

# Description
I have created my api project from the [API platform distribution 2.6.5](https://github.com/api-platform/api-platform/releases/tag/v2.6.5).
I have configured my mercure server to send event when my entity `Command` is updated w

[2021-11-15 06:35] dunglas commented on #586
What do you mean by spamming? It sends events that aren't related?

[2021-11-15 08:01] #532 closed

[2021-11-15 12:09] Lenny4 commented on #586
@dunglas

It does send event which are "related".
When I log the data sent by the mercure server I have the command id and all the information specify here:
[code]
But these commands does't exists in my bdd.
If the last command id created is `4`
I can receive:
[code]
[code]
and so on ...
[code]
So the event are "related" but there is something strange.

Furthermore when I create a command after th

[2021-11-15 18:10] Lenny4 commented on #586
@dunglas
I created a project which reproduce this bug: https://github.com/Lenny4/mercure-bug-spam

### Step 1
Launch docker
[code]

### Step 2
Go to http://localhost:8084/

Open your console to see what is happening

And click on "Send event"

You should receive 1 MessageEvent (see in console)

### Step 3
Stop docker container (Ctrl + C)

Then launch it again:
[code]

When the client reconnect to

[2021-11-15 18:17] dunglas commented on #586
Thanks for the reproducer. This doesn't look like a bug to me. The hub acts as an event store. If `Last-Event-Id` is provided, it will send all events that have been stored after (in term of time) the one passed as id.

Here, it looks like your DB (that you can inspect using BoltDBWeb for instance) contains messages that have been stored after, so they are sent.

IMHO, you should let Mercure gener

[2021-11-15 18:30] Lenny4 commented on #586
Maybe I just misunderstand what is the purpose of the parameter `$id` in [src/Update.php](https://github.com/symfony/mercure/blob/main/src/Update.php)

[code]
I should have read: https://github.com/dunglas/mercure/blob/main/spec/mercure.md#publication

Thank you @dunglas

Keep the great work !

[2021-11-17 21:09] dunglas opened #588 "Switch from URI Templates to URI Pattern"
There is a new proposal for a standard dedicated to matching URLs: https://developer.mozilla.org/en-US/docs/Web/API/URL_Pattern_API

If it is adopted, it will better fit the Mercure use case than how we currently hijack the URI Template spec.

[2021-11-18 00:37] weselski opened #589 "Idle Timeout reached"
@dunglas

Okay, so this Problem is very weird and at this Point I absolutely don't have any clue why I am getting this error.

To start off:
I am using the api-platform distribution with Mercure included, using the docker-compose set up in a stage environment.

The problem:
Mercure was publishing updates and everything was fine, then I deployed new Code and had a couple Problems, so what I did was

[2021-11-18 20:41] weselski commented on #589
By the way, the Mercure Debug UI is fully working.. So I don't see why it's throwing the RuntimeException..

[2021-11-23 08:55] velreine opened #590 "Updates only work via Debugger UI"
I cannot figure out why my events made from API Platform does not show up in the Debugger UI, even though the listening topic is set to star (*)

I'm running the prebuilt binary for Linux on Ubuntu 20.04, as I wanted to eliminate error sources by not running docker.

This is my .env configuration in the Symfony API Platform project:

[code]

And this is my Caddyfile.dev:

[code]

Since i tried har

[2021-11-23 12:00] velreine commented on #590
Turns out that when it tries to notify the "hub" it instead POSTS to the Symfony API Server (port 8000) which for some reason also implements the Mercure protocol?

This is because the applied environment variables overrides my environment variables set in ".env" so even though i set MERCURE_URL=https://127.0.0.1:443/.well-known/mercure
 and
MERCURE_PUBLIC_URL =https://127.0.0.1:443/.well-known/me

[2021-11-23 13:05] tpharaoh opened #591 "Failed to subscribe to Private Updates"
I am trying to figure out where the issue is, I can't get private updates to my subscriber.

On login I send a jwt
[code]

I have an entity which sends the private updates when a new row is added, below is an example:
[code]

On the VueJS front end, I use Yaffle/EventSource to add the JWT token
[code]
It subscribes. The token shows, only thing I see is the token is in handle.request, and not in ne

[2021-11-23 23:00] dunglas commented on #590
Are you running an old version of Symfony CLI? This feature have been removed from this tool.

[2021-11-23 23:04] dunglas commented on #590
Can you also check if you aren't using Docker Compose? If so, indeed Symfony CLI will use the Mercure service defined in `docker-compose.yml` automatically. Removing this service should be enough to disable this behavior.

[2021-11-26 13:09] velreine commented on #590
Sorry for the late reply, i was not in the office.

The Symfony CLI version is v4.25.9

And I was not running Mercure via the docker-compose I downloaded a pre-built binary for Linux (Debian) x86_64. And I was fiddling around with the Caddyfile etc, manually.

I'm on Ubuntu 20.04.

[2021-11-26 19:55] Kolvin commented on #591
Hey @tpharaoh :wave:

I think your issue is that your trying to use `*` inside the URL string `'http://localhost/api/raw_datas/*'`,  i'm not sure if this is a valid URL template which violates this;

Im not 100% but i wonder if `http://localhost/api/raw_datas/{id}` would work?

I have implemented private updates within a system and often refer to these sections mostly when i have any issues
 -  [s

[2021-11-26 20:49] tpharaoh commented on #591
I'll give it a try, but on a index page (where is lists all rows in DB)...
if entity has mercure it will send a private post even on new line in DB,
thats why I assumed, obviously I would not yet know the ID. But maybe I
should have used {id}

I'll try tomorrow or monday, thanks for the feedback. Will report my
findings

On Fri, 26 Nov 2021 at 21:55, Calvin Taylor ***@***.***>
wrote:

[2021-11-27 15:51] fundup opened #592 "CORS error with porxy"
Hy,
I did many tries with Mercure V0.13 using a reverse proxy or other options but I'm still not able to make it works in production. I still have CORS error, (No 'Access-Control-Allow-Origin' header is present on the requested resource) .

My Caddyfile:
[code]

Ngnix :
[code]

Info from log :
`http.log.access	handled request	{"request": {"remote_addr": "127.0.0.1:60516", "proto": "HTTP/1.1", "met

[2021-11-27 19:08] tpharaoh commented on #591
Excellent.... you were right, the {id} was the key on server side!
[code]

[2021-11-27 19:08] #591 closed

[2021-11-28 09:36] fundup commented on #592
I finally made it woks. There is missing lines in Nginx file :

[code]

So th whole config :
[code]

[2021-11-29 15:19] 7system7 commented on #520
Same error here. It is impossible to get an answer other than 401.
:D :+1:

[2021-12-02 13:47] kokojar opened #593 "Subscribers Cloudflare issue"
I am using mercure with symfony docker integration. When I query the endpoint /subscribers everything is fine until I enable the cloud icon in the Cloudflare dns settings.

MERCURE_PUBLISH_URL=https://kokojar.co.uk/.well-known/mercure

When I enable the orange cloud icon, and query /subscribers it shows me some subscribers that shouldn't be there because the browser active session windows have bee

[2021-12-02 23:35] dunglas commented on #593
It looks like an issue on Cloudflare-side. AFAIK we send all headers preventing reverse proxies to cache. Did you try to contact Cloudflare's support?

[2021-12-06 08:55] bobvandevijver opened #594 "Decrease logging level"
I'm seeing a lot of info messages in our production logging, triggering log grow warning. I do not need these INFO messages to be logged, so I would like to disable them.

I've already tried adding `level WARN` to the log directive in the `Caddyfile`, but no luck so far:

[code]

Snapshot of the logging:
[code]

I'm using Mercure 0.13.0, extracted from `mercure_0.13.0_Linux_x86_64.tar.gz`.

[2021-12-07 17:01] divine commented on #594
Hello,

It should global option, see this example: https://github.com/dunglas/mercure/issues/494#issuecomment-838648183

Thanks!

[2021-12-07 22:48] momo998-max commented on #485
Environment variable not found: "MERCURE_PUBLIC_URL".

[2021-12-08 20:11] bobvandevijver commented on #594
Alright, I adjusted the configuration to the following, and that seems to have solved it:

[code]

[2021-12-08 20:12] #594 closed

[2021-12-15 20:17] si14 commented on #546
I think the bot was too eager to close it :(

[2021-12-15 21:08] dunglas commented on #546
Hi @si14,

Regarding `X-Forwarded-For`,  I think that this should be handled at Caddy's level. It's probably already to do this kind of rewrite (but I'm not sure if it's a good idea).

Regarding logging JWT `payload`, indeed it's a good idea, especially now that Caddy will allow to easily filter and redact log fields. Do you want to try to open a PR?

[2021-12-20 12:15] halfred commented on #556
Hi I'm also having a CORS problem with the latest docker caddy version of mercure

It's working as expected without https in local dev environnment but not in prod

I'm using a react app as a client and both the app and mercure are using traefik 2

Here is my docker-compose file

[code]

and the Caddyfile

[code]

I tried a lot of changes but nothing worked.
I even tried with `cors_origins *` in t

[2021-12-20 16:20] halfred commented on #556
Maybe it's a Caddy issue

I noticed that a curl in dev with https (ignoring the local cert check) is opening a connection as expected.
But in prod, curl returns an http code 308.

Postman displays the error as:
`Error: Exceeded maxRedirects. Probably stuck in a redirect loop https://mercure.domain.com/.well-known/mercure`

[2021-12-22 17:05] igouidriss commented on #473
It takes both:

http_client:
        default_options:
            verify_peer: false
            verify_host: false

[2021-12-23 16:12] jderusse opened #596 "Topic selection does not work"
Since #578 the topic subscription is ignored.

Reproducer.
- start the Mercure UI
- subscribe to topic `FOO`
- publish in `BAR`
- message is dispatched to subscriber

![Screenshot from 2021-12-23 17-11-15](https://user-images.githubusercontent.com/578547/147266015-252164e8-c1df-46ca-84a3-0147a590f682.png)

/cc @kevburnsjr

[2021-12-24 04:24] divine commented on #596
Hello,

I wasn't able to reproduce it on a Caddy version.

Probably this is a legacy version that is leaking that data or I'm just blind and somehow missed the last commits?

Thanks!

[2021-12-24 07:17] dunglas commented on #596
I reproduced and fixed the issue using: https://github.com/dunglas/mercure/pull/597

@divine that's weird, I reproduce the issue with the Caddy build too.

[2021-12-24 07:57] divine commented on #596
Which version does run https://demo.mercure.rocks/ ?

I've tested that on production and nothing is leaking, version build is before this PR was merged https://github.com/dunglas/mercure/pull/563

Interesting...

Thanks!

[2021-12-24 08:23] dunglas commented on #596
@divine the demo run the on premise (paid) version. Which doesn't include this patch currently.

You can reproduce by cloning the monorepo and starting the Caddy module. You need `github.com/dunglas/mercure@main` (the lib) to reproduce.

[2021-12-26 09:26] divine commented on #596
Hello,

I've also reproduced this issue locally and actually, it was fun to find the reason why on production it's not leaking, right?

The funny thing is it was installed with the command below and I somehow messed up with dependencies which worked for some reason...

Mercure was built with the command:
`xcaddy build     --with github.com/dunglas/mercure/caddy@99bf84c`

which should be:
`xcaddy b

[2021-12-26 10:37] dunglas commented on #596
The problem wasn't what I thought initially.
Actually, only the Local transport had been ported to use the new optimized `SubscriberList`, the Bolt transport has been forgotten. I updated the Bolt transport to use the new system in https://github.com/dunglas/mercure/pull/597.

[2021-12-26 10:49] divine commented on #596
That makes sense, I've forgotten that we're using local transport and locally we're testing only bolt. Never thought it was a transport problem!

That was fun and thank you for the fix @dunglas!

[2021-12-26 14:20] #596 closed

[2021-12-28 17:01] blackheaven opened #600 "Helm chart does yeld an accessible server"
## Problem description

When I try to use Mercure inside Kubernetes via Helm chart, I can't connect to the server.

## Versions

 * Mercure: 0.13.0
 * Minikube: 1.24.0

## Steps to reproduce

* Start the server

[code]

* Open the port

[code]

 * Try to connect to it

[code]

## Actual behaviour

Here's what I get:

[code]

## Additional information

It fails with any topic.

If works when I laun

[2021-12-30 11:53] xorgxx opened #602 "[SF5] in dev mode - firefox Unauthorized"
hi i try for many day's to get out of my issu !!! i hve ready (i thnig) all what i is on my "freind" google!!

and i still cant get out of this issu : (maybe not here to give issu ? maibe Symfony !)

here is config : server prod synology dsm7 - apach 2.4 - php 7.4

--- mercure in docker using this image dunglas-mercure:latest (0.13.0)

caadyfile
[code]

on the local Dev station :

windows 10x64 --

[2021-12-30 16:44] #600 closed

[2021-12-30 19:33] dunglas commented on #600
What was the issue @blackheaven?

[2021-12-31 10:11] blackheaven commented on #600
Actually, I don't know, I've tried again with a fresh minikube and it worked.

But I still have the issue with RS256 keys.

[2022-01-04 07:17] halfred commented on #556
Can someone please help me ?
I haven't progressed a bit since 2 weeks :(

[2022-01-04 07:44] #575 closed

[2022-01-04 07:54] dunglas commented on #556
Sorry I don't use Caddy... Could you provide a reproducer in a repository so I can try to hack it?

[2022-01-05 10:59] xorgxx commented on #602
So i have find the probleme thank anyway. it's very long and touch a lot of config so i will not explain here.

[2022-01-05 10:59] #602 closed

[2022-01-07 09:58] 7system7 opened #605 "Reverse proxy is not working w/ external Caddy web server"
I have a caddy w/ mercure module. And I have a Caddy on the system for anything else from a PPA. (w/o any modules, just factory default caddy)
If I try to connect to the server w/ javascript, it will return w/ http 200 and close the connection because http header error instead of keep the connection as an `event-stream`. However the http request headers are OK.

Error message in browser:

[code]

[2022-01-07 10:12] dunglas commented on #605
Shouldn't this be reported to Caddy directly? AFAIU it's the first Caddy instance that doesn't forward properly the SSE request.

[2022-01-07 12:28] 7system7 commented on #605
Good question. I can try it if there is no any idea for this problem.

[2022-01-12 17:06] thund3rb1rd78 commented on #556
halfred, I don't know if it will help, as I use different technologies (it seems) than you. But, perhaps you can be inspired by something you see. This is a link to my skeleton I use that works in production and local encrypted with auto-ssl for symfony/mercure/caddy/mariadb: https://github.com/thund3rb1rd78/symfony-mercure-website-skeleton-dockerized
good luck

[2022-01-14 15:34] xorgxx opened #606 "how to get it work in production !!!!"
HI i'm trying to get it work on production !!!! for 4 weeks !!!

it work find on dev mode "anonymous" but as soon you try in production IT NEVER STOP TO SAIS "Unauthorized"

working in prod only form demo "/.well-known/mercure/ui/" then it send recieve ....

Maybe there is some where one tuto "up to date" how explain how to user in PRODUCTION !!

[2022-01-14 17:00] T-Nagui opened #607 "plz update mercure hub documentation"
Hi
BE: Api platform Symfony and lexik JWT:
 mercure:
    hubs:
        default:
            url: '%env(MERCURE_URL)%' ==> http://localhost:8099/.well-known/mercure
            public_url: '%env(MERCURE_PUBLIC_URL)%' ==> http://localhost:8099/.well-known/mercure
            jwt:
                secret: '%env(MERCURE_JWT_SECRET)%'
                publish: '*'
                algorithm: 'hmac.sha256'

[2022-01-15 12:11] xorgxx commented on #606
what are they
# Publisher JWT key
        publisher_jwt "I8M59BUx0NM8SYi"   -> it must be what ?? pass OR JWT KEY ????

        # Subscriber JWT key
        subscriber_jwt "I8M59BUx0NM8SYi"   -> it must be what ?? pass OR JWT KEY ????

[2022-01-17 08:17] xorgxx commented on #606
so i have find the major probleme ssl apache !!!
[code]

my probleme is that i dont have any root access to change apache to make him "proxy" !!!
so then what can be may solution ?
 -  'verify_peer' => false,
 - not to use mercure !

thank for help

[2022-01-17 10:10] T-Nagui commented on #607
for any one have pb like me : the JWT key in config file Caddy is not JWT "Authorasation" is just the secret key used in symfony mercure
thank's

[2022-01-17 10:10] #607 closed

[2022-01-17 10:11] T-Nagui commented on #606
@xorgxx i just figurat out the JWT is the secret key used in symfony config

[2022-01-17 20:33] halfred commented on #556
Thanks @dunglas and @thund3rb1rd78 for your suggestions
I'm back on the project after a few days.
I don't understand why but now it's not working anymore even in dev where I thought that I disabled the cors checks

I checked the skeleton, based on dunglas' one and tried to identify what's wrong in my conf but I couldn't find anything relevant.
I'll continue my investigations in the next days and I

[2022-01-18 20:10] halfred commented on #556
So I've finally manage to make it "work" in dev env.
But it requires a trick by enabling the "CORS Everywhere" extension on firefox (which is obviously cheating)

I think that I properly followed the official mercury documentation about cors : https://mercure.rocks/docs/hub/troubleshooting#cors-issues
From my previous message, I changed the Caddyfile line according to the doc and to my env.
In dev

[2022-01-19 21:52] halfred commented on #556
I've found 2 mistakes and a workaround and now everything seems to work as expected.

The mistake was the port in the cors url. In my case it must be 8082 (the port of my js app) instead of 8083 (the mercure hub port).

And the workaround for the cors header in caddy:
I gave up the cors_origin directive in the mercure block of the Caddyfile.
I used instead a caddy header setter.

Here is my dev Ca

[2022-01-21 12:44] #585 closed

[2022-01-22 23:49] pourquoi opened #609 "slow memory leak"
version: 0.13 running in kubernetes with 512Mb requested and 1Gb limit

2 publish / seconds and only 2 to 5 subscribers
<10 topics

In one day the memory usage goes from around 200Mb to 500Mb without changes in subscribers or publish count

<img width="403" alt="Capture d’écran 2022-01-23 à 00 31 07" src="https://user-images.githubusercontent.com/1443410/150658894-3088b7b8-5026-4bd9-b22b-c57f874

[2022-01-25 00:39] Lenny4 opened #610 "Execute php code on connection events"
Do you plan to add a feature that allow to execute php code on specific events ?

Like when a subcriber disconnect or a new subscriber connect ?

[2022-01-25 07:11] dunglas commented on #610
Such feature could be added to the Symfony Component, but not in this hub which is implement in Go and language-agnostic.

Closing now, feel free to re-open on symfony/mercure.

[2022-01-25 07:11] #610 closed

[2022-01-25 07:21] dunglas commented on #609
By design, Bolt will store as much data as possible in memory. It will release memory only if the system is under pressure (Chrome use similarly to for instance). This should usually not be an issue, as long as you don't get OOM errors.

The spikes are probably related to garbage collection. Go periodically triggers the GC.

Could you use the integrated profiler to extract a memory profile, so we

[2022-01-26 01:07] #589 closed

[2022-01-31 22:46] daphneaugier opened #611 "[Question] Overloading Mercure pipeline"
Hello Mercure community!

I am using the open-source version of Mercure in my project and was wondering if there is a limited number of topics supported. For example in my application let's say it can go up to 1000 users and I want one topic used per user, as the IRI would point to the user's ID, would that work properly performance-wise? How many topics are supported?
Also do topics get garbage c

[2022-02-01 07:37] lauretCoding opened #612 "Listen only on one IP"
Hello everyone,
When I start the Mercury hub I use this parameter: 'SERVER_NAME=:3000'. As a result, the Mercure hub listens on all ports 3000 of all IP addresses.
How could I specify a unique IP and a port ?

Thanks

[2022-02-01 10:23] CreaDEV commented on #442
I had a similar problem and solved it by:
- use EventSource with withCredentials: true
- cors needs a FQDN with Schema
 Hope it helps somebody.

[2022-02-02 13:32] hepisec commented on #96
The link to the documentation has changed: https://mercure.rocks/docs/hub/cookbooks#using-nginx-as-an-http-2-reverse-proxy-in-front-of-the-hub

[2022-02-03 02:46] #590 closed

[2022-02-05 02:34] #592 closed

[2022-02-11 05:53] #593 closed

[2022-02-14 14:50] #612 closed

[2022-02-14 14:53] dunglas opened #613 "Use lastEvendID instead of Last-Event-ID as query parameter"
To be in sync with the default parameter supported by the most popular EventSource polyfill: https://github.com/Yaffle/EventSource#custom-query-parameter-name-for-the-last-event-id

[2022-02-21 09:49] vico-gs commented on #63
Thank you for confirming that. @dunglas
Regex are not allowed as well, is there a way to allow more domains ?

[2022-02-21 16:51] divine commented on #613
Hello,

1. I think that the library instead should change that header to follow up standards.
2. Also, when `authorization query parameter` will be merged https://github.com/dunglas/mercure/pull/562 I'd gladly drop it as well.

Just my 2 cents.

Thanks!

[2022-02-21 17:54] plamenh commented on #520
Same here

[2022-02-21 22:32] dunglas commented on #613
@divine the header is standardized but not the query parameter. As this polyfill is widely used and is the library having introduced this query parameter, it's the de-facto standard. Also, this is more consistent with popular conventions used for query parameters. This will also make the polyfill work "out of the box", while it currently requires custom configuration to be compatible with Mercure,

[2022-02-21 22:51] dunglas opened #616 "Allow using Mercure with other transports than SSE"
Mercury is essentially a pub/sub protocol for resource representations in the sense of REST and HTTP. It allows a client to use the HTTP protocol to receive new versions of one or multiple resources. It also provides an advanced authorization system to ensure that a given client is allowed to receive a given update.

Currently, the spec is tight to the Server-Sent Event protocol. While [SSE is a g

[2022-02-21 22:54] divine commented on #613
Oh, I see it now, thank you for detailed explanation!

The main reason that most of us are using polyfill is because "authorization headers" aren't supported in native SSE.

Thanks!

[2022-02-21 23:07] dunglas opened #617 "Add an extension to SSE to attach metadata to events"
A current limitation of Mercure is that attaching metadata (such as HTTP headers) to a resource is not handled at the protocol level. Users need to take care of this themselves by crafting a custom data structure transmitted in the SSE events.

We could allow attaching metadata to an update by allowing to send custom fields in the events. Currently, the SSE spec states the custom fields are ignore

[2022-02-22 09:57] James02200 opened #618 "CORS policy Issue : No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi All,

Hope you are well ? :)

I have some CORS issue  integrating  a Nginx container reverse proxy with a mercure-caddy container on AWS behind an Application load balancer (ALB) with an Auto-Signed ssl on it (no ssl on Nginx side).
For your information, i am using :

1. Fargate AWS for all containers staff
2. dunglas/mercure:latest  of mercure image.
3. nginx:alpine image

My issue detail is t

[2022-02-22 13:45] dunglas commented on #579
@mariuseliassen sorry for the long delay, but could you check if https://github.com/dunglas/mercure/pull/620 fixes your issue, please?

[2022-02-22 15:54] dunglas commented on #483
This is now supported: #563

[2022-02-22 15:59] dunglas commented on #618
Are you using the AWS WAF? It is known to cause issues: https://github.com/dunglas/mercure/issues/487

[2022-02-22 16:01] James02200 commented on #618
Hi Kévin,

No WAF.

Thanks.
Jamel

[2022-02-23 12:08] Lenny4 opened #622 "How mercure handle multiple hub subscription?"
I was wondering how Mercure will handle subscription when multiple instance of a hub are launch with Kubernetes.

[Here][1] we can read:

But let's say we have:
- 2 hubs `HubA` and `HubB` in 2 different docker container (with kubernetes)
- 2 clients `ClientA` and `ClientB`
- `ClientA` is subscribed to `HubA` on topic `my-topic`
- `ClientB` is subscribed to `HubB` on the same topic `my-topic`

If `

[2022-02-27 23:42] saifgo commented on #450
you could execute this command instead it worked for me
`./mercure --jwt-key=’!ChangeMe!’ --addr=’localhost:3000’ --allow-anonymous --cors-allowed-origins=’*’`

[2022-02-28 16:49] stephanecoumbassa opened #623 "How install and use Mercure with caddyserver"

[2022-03-01 06:45] ingfdoaguirre commented on #622
Hi as I can understand you need to share the same transport db with your containers, lets say:
mercure container 1
mercure container 2
redis transport -> This transport will be shared, and in your configuration files just put in transport_url the url of the exposed redis container.

So, when an update comes to HubA will be saved to the shared transport, and HubB will know about this new update.

T

[2022-03-01 07:10] dunglas commented on #622
The free and open source version of Mercure only supports single-node/pod setup. If you want to create a cluster, you need the managed, the on prem version or to write your own transport: https://mercure.rocks/docs/hub/cluster